# 작업형1

Cars93 데이터셋의 Wheelbase 컬럼에 대해서 평균 값에서 표준편차의 1.5배, 2배, 2.5배를 더하거나 뺀 값들의 구간 내의 데이터들의 평균을 각각 구한 후 원래의 데이터 펴균에서 뺐을 때 차이들의 합을 출력하여라, (단, 소수점 다섯째 자리에서 반올림하여 표현할 것)

In [2]:
# 패키지 불러오기
import pandas as pd

In [4]:
# 데이터 불러오기
Cars93 = pd.read_csv('./data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [6]:
# 컬럼 확인
Cars93.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [9]:
# Wheelbase 할당
Wheelbase = Cars93['Wheelbase']

In [11]:
# Wheelbase의 평균
Wheelbase_avg = Wheelbase.mean()
Wheelbase_avg

103.98924731182795

In [13]:
# Wheelbase의 표준편차
Wheelbase_sd = Wheelbase.std()
Wheelbase_sd

7.389026269401888

In [24]:
# Case1. 평균 값에서 표준편차를 1.5배를 더하거나 빼는 경우
# 구간의 하한(Low_1)과 상한(Upp_1) 계산
Low_1 = Wheelbase_avg - 1.5 * Wheelbase_sd
Upp_1 = Wheelbase_avg + 1.5 * Wheelbase_sd

# 구간 내 데이터들의 평균
Avg_1 = Wheelbase[(Wheelbase > Low_1) & (Wheelbase < Upp_1)].mean()

# 원래의 데이터 평균에서 뺌
Case1 = Wheelbase_avg - Avg_1

In [25]:
# Case2. 평균 값에서 표준편차를 2배를 더하거나 빼는 경우
# 구간의 하한(Low_2)과 상한(Upp_2) 계산
Low_2 = Wheelbase_avg - 2 * Wheelbase_sd
Upp_2 = Wheelbase_avg + 2 * Wheelbase_sd

# 구간 내 데이터들의 평균
Avg_2 = Wheelbase[(Wheelbase > Low_2) & (Wheelbase < Upp_2)].mean()

# 원래의 데이터 평균에서 뺌
Case2 = Wheelbase_avg - Avg_2

In [26]:
# Case3. 평균 값에서 표준편차를 2.5배를 더하거나 빼는 경우
# 구간의 하한(Low_3)과 상한(Upp_3) 계산
Low_3 = Wheelbase_avg - 2.5 * Wheelbase_sd
Upp_3 = Wheelbase_avg + 2.5 * Wheelbase_sd

# 구간 내 데이터들의 평균
Avg_3 = Wheelbase[(Wheelbase > Low_3) & (Wheelbase < Upp_3)].mean()

# 원래의 데이터 평균에서 뺌
Case3 = Wheelbase_avg - Avg_3

In [31]:
# 결과를 result에 할당
result = round(Case1 + Case2 + Case3, 4)

In [32]:
# 결과 출력
print(result)

0.4845

Cars93 데이터셋의 Length 컬럼에 대해서 순위를 부여한 후, 1위부터 30위까지 값들의 표준편차를 구하고 소수점 셋째 자리까지 반올림하여 나타내어라. (단, 동점은 동일한 순위를 부여하되 평균내어 등수를 산정하며 최솟값을 1위로 함)

In [22]:
# 패키지 불러오기
import pandas as pd

In [23]:
# 데이터 불러오기
Cars93 = pd.read_csv('data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [24]:
Cars93.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [25]:
# Length의 순위
rank = Cars93['Length'].rank(method = 'average')

In [26]:
# 1위~30위까지만 추출
sub = Cars93['Length'][rank <= 30]

In [28]:
# sub의 표준편차
sub_sd = sub.std()

In [30]:
# 결과 reseult에 할당
result = round(sub_sd, 3)

In [31]:
# 결과 출력
print(result)

8.884

Cars93 데이터셋의 Max_price 컬럼과 Min_price 컬럼에 대해서 각각 정렬한 후 정렬된 순서에 따라 레코드별로 Max_price와 Min_price의 차이를 산출하고 차이값에 대해 표준편차를 구하여라. (단, Max_price의 정렬은 내림차순, Min_price의 정렬은 오름차순으로 하며, 출력시 표준편차는 소수점 넷째 자리에서 반올림하여 표현할 것)

In [32]:
# 패키지 불러오기
import pandas as pd

In [34]:
# 데이터 불러오기
Cars93 = pd.read_csv('data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [35]:
Cars93.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [40]:
# 내림차순으로 정렬해 MaxPrice_sort에 할당
MaxPrice_sort = Cars93['Max_Price'].sort_values(ascending = False, ignore_index = True)

In [52]:
# 내림차순으로 정렬해 MinPrice_sort에 할당
MinPrice_sort = Cars93['Min_Price'].sort_values(ignore_index = True)

In [53]:
# 차이 계산
diff = MaxPrice_sort - MinPrice_sort

In [54]:
# 차이에 대한 표준편차
diff_sd = diff.std()

In [55]:
# 결과를 result에 할당
result = round(diff_sd, 3)

In [56]:
# 결과 출력
print(result)

18.584

Cars93 데이터셋의 Weight 컬럼을 Min-Max 정규화로 변환한 후, 0.5보다 작은 값들의 분산과 0.5보다 큰 값들의 분산의 차이를 구하여라. (단, 차이는 큰 값에서 작은 값을 빼서 구하며, 소수점 넷째 자리에서 반올림하여 표현할 것)

In [57]:
# 패키지 불러오기
import pandas as pd

In [60]:
# 데이터 불러오기
Cars93 = pd.read_csv('data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [62]:
Cars93.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [69]:
# Weight 컬럼 Min-Max 정규화로 변환
Weight = Cars93['Weight']
Weight_std = (Weight - min(Weight)) / (max(Weight) - min(Weight))

In [74]:
# 0.5보다 작은 Weight들의 분산
var_under = Weight_std[Weight_std < 0.5].var()

In [78]:
# 0.5보다 큰 Weight들의 분산
var_over = Weight_std[Weight_std > 0.5].var()

In [80]:
# 차이 계산
diff = abs(var_over - var_under)

In [82]:
# 결과를 result에 할당
result = round(diff, 3)

In [83]:
# 결과 출력
print(result)

0.001

Cars93 데이터셋을 이용하여 Manufacturer, Origin 컬럼의 유일값 조합의 수와 Manufacturer 컬럼의 앞 두글자만 추출한 결과와 Origin 컬럼과의 유일값 조합 수의 차이를 구하여라. (단, 원래 유일값 조합 수에서 추출 이후 수를 뺄 것)

In [84]:
# 패키지 불러오기
import pandas as pd

In [86]:
# 데이터 불러오기
Cars93 = pd.read_csv('data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [88]:
Cars93.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [97]:
# 원래 유일값 조합의 수
uniq_raw = Cars93[['Manufacturer', 'Origin']].drop_duplicates()
num_uniq_raw = uniq_raw.shape[0]

In [101]:
# Manufacturer 컬럼 앞 두 글자 추출
Cars93['sub_str'] = Cars93['Manufacturer'].str[:2]

In [105]:
# 유일값 조합의 수
uniq_new = Cars93[['sub_str', 'Origin']].drop_duplicates()
num_uniq_new = uniq_new.shape[0]

In [107]:
# 결과를 result에 할당
result = num_uniq_raw - num_uniq_new

In [108]:
# 결과 출력
print(result)

4

Cars93 데이터셋을 이용하여 컬럼 Type, Man_trans_avail에 대한 그룹별 RPM 레코드 수와 RPM 합계, 중앙값을 모두 구한 후, 그룹별 중앙값에서 그룹별 합계에서 레코드 수를 나눈 값들을 빼서 나온 결과의 총 원소 합을 구하여라. (단, 출력시 소수점은 첫째 자리에서 반올림하여 표현할 것)

In [109]:
# 패키지 불러오기
import pandas as pd

In [110]:
# 데이터 불러오기
Cars93 = pd.read_csv('data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [112]:
Cars93.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [119]:
# 그룹별 RPM 레코드 수
count_RPM_gp = Cars93.groupby(['Type', 'Man_trans_avail'])['RPM'].count()

In [124]:
# 그룹별 RPM 합계
sum_RPM_gp = Cars93.groupby(['Type', 'Man_trans_avail'])['RPM'].sum()

In [128]:
# 그룹별 RPM 중앙값
median_RPM_gp = Cars93.groupby(['Type', 'Man_trans_avail'])['RPM'].median()

In [135]:
# 그룹별 중앙값 - (그룹별 합계 / 레코드 수)을 계산한 후 모든 원소 합
calcul = sum(median_RPM_gp - sum_RPM_gp/count_RPM_gp)

In [137]:
# 결과를 result에 할당
result = round(calcul, 0)

In [138]:
# 결과 출력
print(result)

442.0

Cars93 데이터셋을 이용하여 RPM 컬럼의 결측치를 평균으로 대체하고 RPM와 Wheelbase 컬럼을 각각 z-점수 표준화한 후 표준화된 Wheelbase에 상수 -36을 곱한 값과 표준화된 RPM 컬럼의 차이값을 구하고 표준편차를 산출하여라. (단, 소수점 셋째 자리까지 반올림하여 표현할 것)

In [139]:
# 패키지 불러오기
import pandas as pd

In [141]:
# 데이터 불러오기
Cars93 = pd.read_csv('./data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [151]:
# 결측치 확인
Cars93.isnull().sum()

Manufacturer           0
Model                  0
Type                   0
Min_Price              0
Price                  9
Max_Price              0
MPG_city               0
MPG_highway            0
AirBags               34
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    4
Rev_per_mile           0
Man_trans_avail        0
Fuel_tank_capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn_circle           13
Rear_seat_room         2
Luggage_room          11
Weight                 0
Origin                 0
Unnamed: 26            0
Make                   0
dtype: int64

In [152]:
# RPM 컬럼 결측치 평균 대체
avg = Cars93['RPM'].mean()
Cars93['RPM'] = Cars93['RPM'].fillna(avg)

In [156]:
# RPM 컬럼 z-점수 표준화
RPM_std = (Cars93['RPM'] - Cars93['RPM'].mean()) / Cars93['RPM'].std()

In [161]:
# Wheelbase 컬럼 z-점수 표준화
Wheelbase_std = (Cars93['Wheelbase'] - Cars93['Wheelbase'].mean()) / Cars93['Wheelbase'].std()

In [165]:
# 표준화된 Wheelbase에 상수 -36을 곱한 값과 표준화된 RPM 변수의 차이값
diff = Wheelbase_std * (-36) - RPM_std

In [166]:
# 차이값의 표준편차
diff_sd = diff.std()

In [169]:
# 결과를 result에 할당
result = round(diff_sd, 3)

In [170]:
# 결과 출력
print(result)

35.561

Q. 사이킷런 패키지로부터 내장 데이터 diabetes를 데이터프레임 형태로 호출하고, 'age'와 'bmi' 두 개의 컬럼에 대하여 두 데이터가 상관관계가 있는지 피어슨 상관계수를 이용해 분석해보자. (정규성 만족 가정)

In [7]:
# 데이터 호출한 후 데이터프레임으로 변환
import pandas as pd
from sklearn.datasets import load_diabetes

In [11]:
diabetes = load_diabetes()

In [18]:
data = pd.DataFrame(diabetes.data, columns = diabetes.feature_names)

In [21]:
data.info() # 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     442 non-null    float64
 1   sex     442 non-null    float64
 2   bmi     442 non-null    float64
 3   bp      442 non-null    float64
 4   s1      442 non-null    float64
 5   s2      442 non-null    float64
 6   s3      442 non-null    float64
 7   s4      442 non-null    float64
 8   s5      442 non-null    float64
 9   s6      442 non-null    float64
dtypes: float64(10)
memory usage: 34.7 KB

In [22]:
# scipy.stats.pearsonr
from scipy.stats import pearsonr

pearsonr(x = data['age'], y = data['bmi'])

PearsonRResult(statistic=0.18508466614655553, pvalue=9.076791865417418e-05)

In [26]:
# 단순한 상관계수의 산출은 데이터프레임객체.corr()로도 가능
data[['sex', 'bmi']].corr()

          sex       bmi
sex  1.000000  0.088161
bmi  0.088161  1.000000

Q. 임의의 균일 표본을 생성한 후, 생성된 표본의 정규성 여부 확인을 위한 샤피로-윌크 검정을 수행해보자.

In [27]:
# 필요한 패키지 호출
import numpy as np

In [34]:
# 균일표본 생성
# (참고) np.random.random(size) : 균일 분포로부터 size개의 len을 가지는 난수 생성
np.random.seed(2024) # 결과의 일관성을 위해 시드값 설정
x = np.random.random(10)

In [35]:
# 샤피로-윌크 검정 수행
from scipy.stats import shapiro
shapiro(x)

ShapiroResult(statistic=0.8969662710477171, pvalue=0.20285343366469372)

Q. 몸무게 데이터를 임의로 생성해보고 모집단의 평균이 70이라고 할 수 있는지 단일표본 t-검정을 수행해보자.(정규성 만족 가정)

In [36]:
# 필요한 패키지 호출
import numpy as np

In [37]:
# 몸무게 데이터 임의 생성
kg = np.array([75.5, 83.9, 75.7, 56.2, 73.4, 67.7, 79.0, 50.7, 58.4, 74.1, 65.1, 77.8, 48.1, 46.3])

In [38]:
# 표본 평균
np.mean(kg)

66.56428571428572

In [40]:
# 단일 표본 t-검정 실행
from scipy.stats import ttest_1samp

ttest_1samp(kg, 70)

TtestResult(statistic=-1.0289933120202257, pvalue=0.3222484823978743, df=13)

01. 제공된 데이터(iris.csv)의 Sepal.Width 컬럼에 대해 Sepal.Width의 평균값을 기준으로 3배 표준편차 이상으로 떨어진 값들의 합을 구하여라.

In [42]:
import pandas as pd
iris = pd.read_csv('./data/iris.csv')
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [45]:
# sepal_width 별도 저장
sepal_width = iris['Sepal.Width']

In [50]:
## sepal_width 평균 기준 3배 표준편차 이상 떨어진 데이터추출
# sepal_width의 평균
avg = sepal_width.mean()

# sepal_width의 표준편차
sd = sepal_width.std()

# 상한과 하한
upp = avg + 3 * sd
low = avg - 3 * sd

In [52]:
## sepal_width 평균 기준 3배 표준편차 이상 벗어날 조건
# 하한보다 작고 상한보다 큼
cond = (sepal_width < low) | (sepal_width > upp)

In [55]:
# 결과를 result에 할당
result = sepal_width[cond].sum() # 떨어진 값들의 합

In [56]:
# 결과 추출
print(result)

4.4

02. 제공된 데이터(mtcars1.csv)의 disp 컬럼에 대해서 순위를 부여한 후, 1위부터 20위까지의 값들의 표준편차를 구하고 소수점 셋째 자리에서 반올림하여 나타내어라. (단, 동점은 동일한 순위를 부여하되 상위 등수를 기준으로 하며 최댓값을 1위로 함)

In [58]:
import pandas as pd
mtcars1 = pd.read_csv('./data/mtcars1.csv')
mtcars1.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [60]:
# disp 컬럼 별도 저장
disp = mtcars1['disp']

In [65]:
# disp 순위 부여
rank = disp.rank(method = 'min', ascending = False)

In [69]:
# 1위부터 20위까지의 값
rank20 = disp[rank <= 20]

In [73]:
# 결과를 result에 할당
result = round(rank20.std(), 2)

In [74]:
# 결과 출력
print(result)

97.47

03. 제공된 데이터(Cars93.csv)의 전체 레코드 수, 결측치가 있는 컬럼의 수, 전체 결측치 수, 결측치가 10개 이상인 컬럼들의 결측치가 있는 레코드만 삭제한 후의 전체 레코드의 수와 두 개 이상의 컬럼이 동시에 결측인 레코드의 행 번호들의 합을 구한 후 모두 합하여라.

In [76]:
import pandas as pd
Cars93 = pd.read_csv('./data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [79]:
# case1. 전체 레코드 수
case1 = Cars93.shape[0]

In [118]:
# case2. 결측치가 있는 컬럼의 수
case2 = sum(Cars93.isna().sum() != 0)

In [89]:
# case3. 전체 결측치 수
case3 = sum(Cars93.isna().sum())

In [95]:
# case4. 결측치가 10개 이상인 컬럼들의 결측치가 있는 레코드만 삭제한 후의 전체 레코드의 수
# 결측치의 수가 10개 이상인 컬럼명을 colnm_10over에 할당
colnm_10over = Cars93.columns[Cars93.isna().sum() > 10]

# 그 중에서 결측치가 없는 경우의 전체 레코드 수
sub1 = Cars93[colnm_10over].copy()
case4 = len(sub1.dropna())

In [116]:
# case5. 두 개 이상의 컬럼이 동시에 결측인 레코드의 행 번호들의 합
# 결측치의 수가 2개 이상인 행 인덱스를 rownm_2over에 할당
rownm_2over = Cars93.index[Cars93.isna().sum(axis = 1) >= 2]

# 행 번호를 리스트로 반환한 후 합함
sub2 = list(rownm_2over)
case5 = sum(sub2)

In [119]:
# 결과를 result에 할당
result = case1 + case2 + case3 + case4 + case5

In [120]:
# 결과 출력
print(result)

1090

01. 제공된 데이터(StudentsPerformance.csv)는 학생들의 시험 성적 데이터과 관련된 데이터의 일부이다. 여러 독립 변수들을 통해 성별(Gender)을 예측하는 로지스틱 회귀분석을 하고자 한다.

In [160]:
# 필요한 패키지, 클래스 호출
import pandas as pd
import statsmodels.api as sm
import numpy as np

StudentsPerformance = pd.read_csv('./data/StudentsPerformance.csv')
StudentsPerformance.head()

   gender     race  math score  reading score  writing score
0  female  group B          72             72             74
1  female  group C          69             90             88
2  female  group B          90             95             93
3    male  group A          47             57             44
4    male  group C          76             78             75

In [164]:
# male -> 1, female -> 0로 인코딩
StudentsPerformance['gender'] = StudentsPerformance['gender'].map({'male' : 1, 'female' : 0})

In [168]:
# race 컬럼(범주형) 더미변수로 변환
StudentsPerformance = pd.get_dummies(StudentsPerformance, columns = ['race'], drop_first = True)

In [172]:
# 데이터를 학습용과 평가용으로 나누기
train = StudentsPerformance.iloc[0:800] # 1부터 800번까지
test = StudentsPerformance.iloc[800:1000] # 801부터 1,000번까지

In [175]:
# 학습용 데이터로 독립변수와 종속변수 지정
y_train = train['gender'] # 종속변수
X_train = train.drop('gender', axis = 1) # 독립변수

In [183]:
X_train

,math score,reading score,writing score,race_group B,race_group C,race_group D,race_group E
0,72,72,74,True,False,False,False
1,69,90,88,False,True,False,False
2,90,95,93,True,False,False,False
3,47,57,44,False,False,False,False
4,76,78,75,False,True,False,False
...,...,...,...,...,...,...,...
795,57,68,73,False,False,False,True
796,70,70,70,False,False,True,False
797,70,84,81,False,False,False,True
798,69,60,54,False,False,False,True
799,52,55,57,False,True,False,False

In [181]:
sm.GLM(y_train, X_train)

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).

In [180]:
# 로지스틱 회귀분석
# GLM 객체 생성 후 적합
sm.GLM(y_train, X_train, family = sm.families.Binomial()).fit()

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).

02. 제공된 데이터(mtcars.csv)는 자동차 32종의 정보를 담고 있는 데이터로 알려져있다. 배기량, 마력, 기어, 무게를 입력하면 연비를 예측하는 다중 선형 회귀 분석을 하고자 한다.

In [126]:
import pandas as pd
mtcars = pd.read_csv('./data/mtcars.csv', encoding = 'cp949')
mtcars.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [129]:
# (1)독립변수들 중 종속변수와 가장 높은 선형성을 가지는 변수의 상관계수
df = mtcars[['mpg', 'disp', 'hp', 'drat', 'wt']]

# 종속변수와 각 변수들 간의 상관계수 계산한 후 가장 큰 상관계수를 구하면 됨
corr = df.corr()['mpg'].abs().sort_values(ascending = False)[1]
result1 = round(corr, 3)
print(result1)

In [149]:
# (2)적합된 회귀모형의 결정계수
import statsmodels.api as sm

# 독립변수와 종속변수 분리
X = df[['disp', 'hp', 'drat', 'wt']]
y = df[['mpg']]

In [152]:
# 상수항 추가
X = sm.add_constant(X)

In [155]:
# 다중선형회귀모형
# OLS 객체 생성 후 적합
model = sm.OLS(y, X).fit()
print(model.summary()) # 결과

                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.838
Model:                            OLS   Adj. R-squared:                  0.814
Method:                 Least Squares   F-statistic:                     34.82
Date:                Mon, 03 Jun 2024   Prob (F-statistic):           2.70e-10
Time:                        23:34:46   Log-Likelihood:                -73.292
No. Observations:                  32   AIC:                             156.6
Df Residuals:                      27   BIC:                             163.9
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         29.1487      6.294      4.631      0.000      16.235      42.062
disp           0.0038      0.011      0.353      0.727      -0.018       0.026
hp            -0.0348      0.012     -2.999      0.006      -0.059      -0.011
drat           1.7680      1.320      1.340      0.192      -0.940       4.476
wt            -3.4797      1.078     -3.227      0.003      -5.692      -1.267
==============================================================================
Omnibus:                        5.267   Durbin-Watson:                   1.736
Prob(Omnibus):                  0.072   Jarque-Bera (JB):                4.327
Skew:                           0.899   Prob(JB):                        0.115
Kurtosis:                       3.102   Cond. No.                     4.26e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.26e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [156]:
# 회귀모형의 결정계수 출력
# 위의 결과에서 R-squared값을 입력
print(0.838)

0.838

In [157]:
# 독립 변수들 중 가장 유의하지 않은 독립변수의 회귀계수 추정값
# 위의 결과에서 P>|t|값이 가장 큰 변수명을 찾으면 됨
# disp가 가장 p-value가 크므로 disp의 회귀계수 추정값 계산
# 위의 결과애서 disp의 coef값을 입력해도 됨
print(0.004)

0.004