# 작업형1

Cars93 데이터셋의 Wheelbase 컬럼에 대해서 평균 값에서 표준편차의 1.5배, 2배, 2.5배를 더하거나 뺀 값들의 구간 내의 데이터들의 평균을 각각 구한 후 원래의 데이터 펴균에서 뺐을 때 차이들의 합을 출력하여라, (단, 소수점 다섯째 자리에서 반올림하여 표현할 것)

In [2]:
# 패키지 불러오기
import pandas as pd

In [4]:
# 데이터 불러오기
Cars93 = pd.read_csv('./data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [6]:
# 컬럼 확인
Cars93.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [9]:
# Wheelbase 할당
Wheelbase = Cars93['Wheelbase']

In [11]:
# Wheelbase의 평균
Wheelbase_avg = Wheelbase.mean()
Wheelbase_avg

103.98924731182795

In [13]:
# Wheelbase의 표준편차
Wheelbase_sd = Wheelbase.std()
Wheelbase_sd

7.389026269401888

In [24]:
# Case1. 평균 값에서 표준편차를 1.5배를 더하거나 빼는 경우
# 구간의 하한(Low_1)과 상한(Upp_1) 계산
Low_1 = Wheelbase_avg - 1.5 * Wheelbase_sd
Upp_1 = Wheelbase_avg + 1.5 * Wheelbase_sd

# 구간 내 데이터들의 평균
Avg_1 = Wheelbase[(Wheelbase > Low_1) & (Wheelbase < Upp_1)].mean()

# 원래의 데이터 평균에서 뺌
Case1 = Wheelbase_avg - Avg_1

In [25]:
# Case2. 평균 값에서 표준편차를 2배를 더하거나 빼는 경우
# 구간의 하한(Low_2)과 상한(Upp_2) 계산
Low_2 = Wheelbase_avg - 2 * Wheelbase_sd
Upp_2 = Wheelbase_avg + 2 * Wheelbase_sd

# 구간 내 데이터들의 평균
Avg_2 = Wheelbase[(Wheelbase > Low_2) & (Wheelbase < Upp_2)].mean()

# 원래의 데이터 평균에서 뺌
Case2 = Wheelbase_avg - Avg_2

In [26]:
# Case3. 평균 값에서 표준편차를 2.5배를 더하거나 빼는 경우
# 구간의 하한(Low_3)과 상한(Upp_3) 계산
Low_3 = Wheelbase_avg - 2.5 * Wheelbase_sd
Upp_3 = Wheelbase_avg + 2.5 * Wheelbase_sd

# 구간 내 데이터들의 평균
Avg_3 = Wheelbase[(Wheelbase > Low_3) & (Wheelbase < Upp_3)].mean()

# 원래의 데이터 평균에서 뺌
Case3 = Wheelbase_avg - Avg_3

In [31]:
# 결과를 result에 할당
result = round(Case1 + Case2 + Case3, 4)

In [32]:
# 결과 출력
print(result)

0.4845

Cars93 데이터셋의 Length 컬럼에 대해서 순위를 부여한 후, 1위부터 30위까지 값들의 표준편차를 구하고 소수점 셋째 자리까지 반올림하여 나타내어라. (단, 동점은 동일한 순위를 부여하되 평균내어 등수를 산정하며 최솟값을 1위로 함)

In [22]:
# 패키지 불러오기
import pandas as pd

In [23]:
# 데이터 불러오기
Cars93 = pd.read_csv('data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [24]:
Cars93.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [25]:
# Length의 순위
rank = Cars93['Length'].rank(method = 'average')

In [26]:
# 1위~30위까지만 추출
sub = Cars93['Length'][rank <= 30]

In [28]:
# sub의 표준편차
sub_sd = sub.std()

In [30]:
# 결과 reseult에 할당
result = round(sub_sd, 3)

In [31]:
# 결과 출력
print(result)

8.884

Cars93 데이터셋의 Max_price 컬럼과 Min_price 컬럼에 대해서 각각 정렬한 후 정렬된 순서에 따라 레코드별로 Max_price와 Min_price의 차이를 산출하고 차이값에 대해 표준편차를 구하여라. (단, Max_price의 정렬은 내림차순, Min_price의 정렬은 오름차순으로 하며, 출력시 표준편차는 소수점 넷째 자리에서 반올림하여 표현할 것)

In [32]:
# 패키지 불러오기
import pandas as pd

In [34]:
# 데이터 불러오기
Cars93 = pd.read_csv('data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [35]:
Cars93.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [40]:
# 내림차순으로 정렬해 MaxPrice_sort에 할당
MaxPrice_sort = Cars93['Max_Price'].sort_values(ascending = False, ignore_index = True)

In [52]:
# 내림차순으로 정렬해 MinPrice_sort에 할당
MinPrice_sort = Cars93['Min_Price'].sort_values(ignore_index = True)

In [53]:
# 차이 계산
diff = MaxPrice_sort - MinPrice_sort

In [54]:
# 차이에 대한 표준편차
diff_sd = diff.std()

In [55]:
# 결과를 result에 할당
result = round(diff_sd, 3)

In [56]:
# 결과 출력
print(result)

18.584

Cars93 데이터셋의 Weight 컬럼을 Min-Max 정규화로 변환한 후, 0.5보다 작은 값들의 분산과 0.5보다 큰 값들의 분산의 차이를 구하여라. (단, 차이는 큰 값에서 작은 값을 빼서 구하며, 소수점 넷째 자리에서 반올림하여 표현할 것)

In [57]:
# 패키지 불러오기
import pandas as pd

In [60]:
# 데이터 불러오기
Cars93 = pd.read_csv('data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [62]:
Cars93.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [69]:
# Weight 컬럼 Min-Max 정규화로 변환
Weight = Cars93['Weight']
Weight_std = (Weight - min(Weight)) / (max(Weight) - min(Weight))

In [74]:
# 0.5보다 작은 Weight들의 분산
var_under = Weight_std[Weight_std < 0.5].var()

In [78]:
# 0.5보다 큰 Weight들의 분산
var_over = Weight_std[Weight_std > 0.5].var()

In [80]:
# 차이 계산
diff = abs(var_over - var_under)

In [82]:
# 결과를 result에 할당
result = round(diff, 3)

In [83]:
# 결과 출력
print(result)

0.001

Cars93 데이터셋을 이용하여 Manufacturer, Origin 컬럼의 유일값 조합의 수와 Manufacturer 컬럼의 앞 두글자만 추출한 결과와 Origin 컬럼과의 유일값 조합 수의 차이를 구하여라. (단, 원래 유일값 조합 수에서 추출 이후 수를 뺄 것)

In [84]:
# 패키지 불러오기
import pandas as pd

In [86]:
# 데이터 불러오기
Cars93 = pd.read_csv('data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [88]:
Cars93.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [97]:
# 원래 유일값 조합의 수
uniq_raw = Cars93[['Manufacturer', 'Origin']].drop_duplicates()
num_uniq_raw = uniq_raw.shape[0]

In [101]:
# Manufacturer 컬럼 앞 두 글자 추출
Cars93['sub_str'] = Cars93['Manufacturer'].str[:2]

In [105]:
# 유일값 조합의 수
uniq_new = Cars93[['sub_str', 'Origin']].drop_duplicates()
num_uniq_new = uniq_new.shape[0]

In [107]:
# 결과를 result에 할당
result = num_uniq_raw - num_uniq_new

In [108]:
# 결과 출력
print(result)

4

Cars93 데이터셋을 이용하여 컬럼 Type, Man_trans_avail에 대한 그룹별 RPM 레코드 수와 RPM 합계, 중앙값을 모두 구한 후, 그룹별 중앙값에서 그룹별 합계에서 레코드 수를 나눈 값들을 빼서 나온 결과의 총 원소 합을 구하여라. (단, 출력시 소수점은 첫째 자리에서 반올림하여 표현할 것)

In [109]:
# 패키지 불러오기
import pandas as pd

In [110]:
# 데이터 불러오기
Cars93 = pd.read_csv('data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [112]:
Cars93.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [119]:
# 그룹별 RPM 레코드 수
count_RPM_gp = Cars93.groupby(['Type', 'Man_trans_avail'])['RPM'].count()

In [124]:
# 그룹별 RPM 합계
sum_RPM_gp = Cars93.groupby(['Type', 'Man_trans_avail'])['RPM'].sum()

In [128]:
# 그룹별 RPM 중앙값
median_RPM_gp = Cars93.groupby(['Type', 'Man_trans_avail'])['RPM'].median()

In [135]:
# 그룹별 중앙값 - (그룹별 합계 / 레코드 수)을 계산한 후 모든 원소 합
calcul = sum(median_RPM_gp - sum_RPM_gp/count_RPM_gp)

In [137]:
# 결과를 result에 할당
result = round(calcul, 0)

In [138]:
# 결과 출력
print(result)

442.0

Cars93 데이터셋을 이용하여 RPM 컬럼의 결측치를 평균으로 대체하고 RPM와 Wheelbase 컬럼을 각각 z-점수 표준화한 후 표준화된 Wheelbase에 상수 -36을 곱한 값과 표준화된 RPM 컬럼의 차이값을 구하고 표준편차를 산출하여라. (단, 소수점 셋째 자리까지 반올림하여 표현할 것)

In [139]:
# 패키지 불러오기
import pandas as pd

In [141]:
# 데이터 불러오기
Cars93 = pd.read_csv('./data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [151]:
# 결측치 확인
Cars93.isnull().sum()

Manufacturer           0
Model                  0
Type                   0
Min_Price              0
Price                  9
Max_Price              0
MPG_city               0
MPG_highway            0
AirBags               34
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    4
Rev_per_mile           0
Man_trans_avail        0
Fuel_tank_capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn_circle           13
Rear_seat_room         2
Luggage_room          11
Weight                 0
Origin                 0
Unnamed: 26            0
Make                   0
dtype: int64

In [152]:
# RPM 컬럼 결측치 평균 대체
avg = Cars93['RPM'].mean()
Cars93['RPM'] = Cars93['RPM'].fillna(avg)

In [156]:
# RPM 컬럼 z-점수 표준화
RPM_std = (Cars93['RPM'] - Cars93['RPM'].mean()) / Cars93['RPM'].std()

In [161]:
# Wheelbase 컬럼 z-점수 표준화
Wheelbase_std = (Cars93['Wheelbase'] - Cars93['Wheelbase'].mean()) / Cars93['Wheelbase'].std()

In [165]:
# 표준화된 Wheelbase에 상수 -36을 곱한 값과 표준화된 RPM 변수의 차이값
diff = Wheelbase_std * (-36) - RPM_std

In [166]:
# 차이값의 표준편차
diff_sd = diff.std()

In [169]:
# 결과를 result에 할당
result = round(diff_sd, 3)

In [170]:
# 결과 출력
print(result)

35.561