# 작업형1

mtcars 데이터셋의 qsec 칼럼을 최소-최대 척도(Min-Max Scale)로 변환한 후 0.5보다 큰 값을 가지는 레코드 수를 츌력하여라

In [12]:
import pandas as pd
mtcars = pd.read_csv('./data/mtcars.csv')
mtcars.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [13]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
mtcars['scaled_qsec'] = scaler.fit_transform(mtcars[['qsec']])

print(len(mtcars[mtcars['scaled_qsec'] > 0.5]))

9

연습문제

01. Cars93 데이터셋의 Wheelbase 컬럼에 대해서 평균 값에서 표준편차의 1.5배, 2배, 2.5배를 더하거나 뺀 값들의 구간 내의 데이터들의 평균을 각각 구한 후 원래의 데이터 평균에서 뺐을 때 차이들의 합을 출력하여라, (단, 소수점 다섯째 자리에서 반올림하여 표현할 것)

In [36]:
# 패키지 불러오기
import pandas as pd

In [37]:
# 데이터 불러오기
Cars93 = pd.read_csv('./data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [38]:
# 컬럼 확인
Cars93.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [39]:
# Wheelbase 할당
Wheelbase = Cars93['Wheelbase']

In [40]:
# Wheelbase의 평균
Wheelbase_avg = Wheelbase.mean()
Wheelbase_avg

103.98924731182795

In [41]:
# Wheelbase의 표준편차
Wheelbase_sd = Wheelbase.std()
Wheelbase_sd

7.389026269401888

In [42]:
# Case1. 평균 값에서 표준편차를 1.5배를 더하거나 빼는 경우
# 구간의 하한(Low_1)과 상한(Upp_1) 계산
Low_1 = Wheelbase_avg - 1.5 * Wheelbase_sd
Upp_1 = Wheelbase_avg + 1.5 * Wheelbase_sd

# 구간 내 데이터들의 평균
Avg_1 = Wheelbase[(Wheelbase > Low_1) & (Wheelbase < Upp_1)].mean()

# 원래의 데이터 평균에서 뺌
Case1 = Wheelbase_avg - Avg_1

In [43]:
# Case2. 평균 값에서 표준편차를 2배를 더하거나 빼는 경우
# 구간의 하한(Low_2)과 상한(Upp_2) 계산
Low_2 = Wheelbase_avg - 2 * Wheelbase_sd
Upp_2 = Wheelbase_avg + 2 * Wheelbase_sd

# 구간 내 데이터들의 평균
Avg_2 = Wheelbase[(Wheelbase > Low_2) & (Wheelbase < Upp_2)].mean()

# 원래의 데이터 평균에서 뺌
Case2 = Wheelbase_avg - Avg_2

In [44]:
# Case3. 평균 값에서 표준편차를 2.5배를 더하거나 빼는 경우
# 구간의 하한(Low_3)과 상한(Upp_3) 계산
Low_3 = Wheelbase_avg - 2.5 * Wheelbase_sd
Upp_3 = Wheelbase_avg + 2.5 * Wheelbase_sd

# 구간 내 데이터들의 평균
Avg_3 = Wheelbase[(Wheelbase > Low_3) & (Wheelbase < Upp_3)].mean()

# 원래의 데이터 평균에서 뺌
Case3 = Wheelbase_avg - Avg_3

In [45]:
# 결과를 result에 할당
result = round(Case1 + Case2 + Case3, 4)

In [46]:
# 결과 출력
print(result)

0.4845

02. Cars93 데이터셋의 Length 컬럼에 대해서 순위를 부여한 후, 1위부터 30위까지 값들의 표준편차를 구하고 소수점 셋째 자리까지 반올림하여 나타내어라. (단, 동점은 동일한 순위를 부여하되 평균내어 등수를 산정하며 최솟값을 1위로 함)

In [63]:
# 패키지 불러오기
import pandas as pd

In [64]:
# 데이터 불러오기
Cars93 = pd.read_csv('data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [65]:
Cars93.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [66]:
# Length의 순위
rank = Cars93['Length'].rank(method = 'average')

In [67]:
# 1위~30위까지만 추출
sub = Cars93['Length'][rank <= 30]

In [68]:
# sub의 표준편차
sub_sd = sub.std()

In [69]:
# 결과 reseult에 할당
result = round(sub_sd, 3)

In [70]:
# 결과 출력
print(result)

8.884

03. Cars93 데이터셋의 Max_price 컬럼과 Min_price 컬럼에 대해서 각각 정렬한 후 정렬된 순서에 따라 레코드별로 Max_price와 Min_price의 차이를 산출하고 차이값에 대해 표준편차를 구하여라. (단, Max_price의 정렬은 내림차순, Min_price의 정렬은 오름차순으로 하며, 출력시 표준편차는 소수점 넷째 자리에서 반올림하여 표현할 것)

In [92]:
# 패키지 불러오기
import pandas as pd

In [93]:
# 데이터 불러오기
Cars93 = pd.read_csv('data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [94]:
Cars93.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [95]:
# 내림차순으로 정렬해 MaxPrice_sort에 할당
MaxPrice_sort = Cars93['Max_Price'].sort_values(ascending = False, ignore_index = True)

In [96]:
# 내림차순으로 정렬해 MinPrice_sort에 할당
MinPrice_sort = Cars93['Min_Price'].sort_values(ignore_index = True)

In [97]:
# 차이 계산
diff = MaxPrice_sort - MinPrice_sort

In [98]:
# 차이에 대한 표준편차
diff_sd = diff.std()

In [99]:
# 결과를 result에 할당
result = round(diff_sd, 3)

In [100]:
# 결과 출력
print(result)

18.584

04. Cars93 데이터셋의 Weight 컬럼을 Min-Max 정규화로 변환한 후, 0.5보다 작은 값들의 분산과 0.5보다 큰 값들의 분산의 차이를 구하여라. (단, 차이는 큰 값에서 작은 값을 빼서 구하며, 소수점 넷째 자리에서 반올림하여 표현할 것)

In [118]:
# 패키지 불러오기
import pandas as pd

In [119]:
# 데이터 불러오기
Cars93 = pd.read_csv('data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [120]:
Cars93.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [121]:
# Weight 컬럼 Min-Max 정규화로 변환
Weight = Cars93['Weight']
Weight_std = (Weight - min(Weight)) / (max(Weight) - min(Weight))

In [122]:
# 0.5보다 작은 Weight들의 분산
var_under = Weight_std[Weight_std < 0.5].var()

In [123]:
# 0.5보다 큰 Weight들의 분산
var_over = Weight_std[Weight_std > 0.5].var()

In [124]:
# 차이 계산
diff = abs(var_over - var_under)

In [125]:
# 결과를 result에 할당
result = round(diff, 3)

In [126]:
# 결과 출력
print(result)

0.001

05. Cars93 데이터셋을 이용하여 Manufacturer, Origin 컬럼의 유일값 조합의 수와 Manufacturer 컬럼의 앞 두글자만 추출한 결과와 Origin 컬럼과의 유일값 조합 수의 차이를 구하여라. (단, 원래 유일값 조합 수에서 추출 이후 수를 뺄 것)

In [144]:
# 패키지 불러오기
import pandas as pd

In [145]:
# 데이터 불러오기
Cars93 = pd.read_csv('data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [146]:
Cars93.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [147]:
# 원래 유일값 조합의 수
uniq_raw = Cars93[['Manufacturer', 'Origin']].drop_duplicates()
num_uniq_raw = uniq_raw.shape[0]

In [148]:
# Manufacturer 컬럼 앞 두 글자 추출
Cars93['sub_str'] = Cars93['Manufacturer'].str[:2]

In [149]:
# 유일값 조합의 수
uniq_new = Cars93[['sub_str', 'Origin']].drop_duplicates()
num_uniq_new = uniq_new.shape[0]

In [150]:
# 결과를 result에 할당
result = num_uniq_raw - num_uniq_new

In [151]:
# 결과 출력
print(result)

4

06. Cars93 데이터셋을 이용하여 컬럼 Type, Man_trans_avail에 대한 그룹별 RPM 레코드 수와 RPM 합계, 중앙값을 모두 구한 후, 그룹별 중앙값에서 그룹별 합계에서 레코드 수를 나눈 값들을 빼서 나온 결과의 총 원소 합을 구하여라. (단, 출력시 소수점은 첫째 자리에서 반올림하여 표현할 것)

In [168]:
# 패키지 불러오기
import pandas as pd

In [169]:
# 데이터 불러오기
Cars93 = pd.read_csv('data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [170]:
Cars93.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [171]:
# 그룹별 RPM 레코드 수
count_RPM_gp = Cars93.groupby(['Type', 'Man_trans_avail'])['RPM'].count()

In [172]:
# 그룹별 RPM 합계
sum_RPM_gp = Cars93.groupby(['Type', 'Man_trans_avail'])['RPM'].sum()

In [173]:
# 그룹별 RPM 중앙값
median_RPM_gp = Cars93.groupby(['Type', 'Man_trans_avail'])['RPM'].median()

In [174]:
# 그룹별 중앙값 - (그룹별 합계 / 레코드 수)을 계산한 후 모든 원소 합
calcul = sum(median_RPM_gp - sum_RPM_gp/count_RPM_gp)

In [175]:
# 결과를 result에 할당
result = round(calcul, 0)

In [176]:
# 결과 출력
print(result)

442.0

07. Cars93 데이터셋을 이용하여 RPM 컬럼의 결측치를 평균으로 대체하고 RPM와 Wheelbase 컬럼을 각각 z-점수 표준화한 후 표준화된 Wheelbase에 상수 -36을 곱한 값과 표준화된 RPM 컬럼의 차이값을 구하고 표준편차를 산출하여라. (단, 소수점 셋째 자리까지 반올림하여 표현할 것)

In [204]:
# 패키지 불러오기
import pandas as pd

In [205]:
# 데이터 불러오기
Cars93 = pd.read_csv('./data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [206]:
# 결측치 확인
Cars93.isnull().sum()

Manufacturer           0
Model                  0
Type                   0
Min_Price              0
Price                  9
Max_Price              0
MPG_city               0
MPG_highway            0
AirBags               34
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    4
Rev_per_mile           0
Man_trans_avail        0
Fuel_tank_capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn_circle           13
Rear_seat_room         2
Luggage_room          11
Weight                 0
Origin                 0
Unnamed: 26            0
Make                   0
dtype: int64

In [207]:
# RPM 컬럼 결측치 평균 대체
avg = Cars93['RPM'].mean()
Cars93['RPM'] = Cars93['RPM'].fillna(avg)

In [208]:
# RPM 컬럼 z-점수 표준화
RPM_std = (Cars93['RPM'] - Cars93['RPM'].mean()) / Cars93['RPM'].std()

In [209]:
# Wheelbase 컬럼 z-점수 표준화
Wheelbase_std = (Cars93['Wheelbase'] - Cars93['Wheelbase'].mean()) / Cars93['Wheelbase'].std()

In [210]:
# 표준화된 Wheelbase에 상수 -36을 곱한 값과 표준화된 RPM 변수의 차이값
diff = Wheelbase_std * (-36) - RPM_std

In [211]:
# 차이값의 표준편차
diff_sd = diff.std()

In [212]:
# 결과를 result에 할당
result = round(diff_sd, 3)

In [213]:
# 결과 출력
print(result)

35.561

08. Cars93 데이터셋을 이용하여 먼저, Price 컬럼의 결측치를 평균으로 대체하고 Max_Price 변수와 Min_Price의 평균보다 작은 레코드만을 추출해 산출된 Origin 그룹별 Price의 합계를 구하고 다음으로 Price 컬럼의 결측치를 중앙값으로 대체하고 Price 컬럼이 Min_Price 컬럼의 제 3사분위수보다 작은 레코드만을 추출해 산출된 Origin별 Price의 합계를 Origin 그룹별로 합한 후 큰 값을 출력하여라. (단, 소수점 이하는 모두 절삭하여 정수로 표현할 것)

In [273]:
import pandas as pd
Cars93 = pd.read_csv('./data/Cars93.csv')

In [274]:
# 결측치 대체를 같은 컬럼에 두 번해야하는 문제이므로 이에 데이터프레임을 따로 복사함
df_case1 = Cars93.copy()
df_case2 = Cars93.copy()

In [291]:
## Case1

# Price 컬럼의 결측치를 평균으로 대체
avg = df_case1['Price'].mean()
df_case1['Price'] = df_case1['Price'].fillna(avg)

# Price가 Max_Price와 Min_Price의 평균보다 작은 데이터프레임을 추출
# Max_Price와 Min_Price 컬럼별 평균
avg_MaxMin = df_case1[['Max_Price', 'Min_Price']].mean(axis = 1)

# Price가 위의 평균보다 작은 데이터프레임
sub_df_case1 = df_case1[df_case1['Price'] < avg_MaxMin]

# Origin 그룹별 Price의 합계
sum_case1 = sub_df_case1.groupby('Origin')['Price'].sum()

In [292]:
## Case2

# Price 컬럼의 결측치를 중앙값으로 대체
med = df_case2['Price'].median()
df_case2['Price'] = df_case2['Price'].fillna(med)

# Price가 Min_Price의 제 3사분위수보다 작은 데이터프레임 추출
# Min_Price의 제 3사분위수
q3 = df_case2['Min_Price'].quantile(0.75)

# Price가 위의 제 3사분위수보다 작은 데이터프레임
sub_df_case2 = df_case2[df_case2['Price'] < q3]

# Origin 그룹별 Price의 합계
sum_case2 = sub_df_case2.groupby('Origin')['Price'].sum()

In [299]:
# 두 결과를 합한 후 가장 큰 원소
max_value = max(sum_case1 + sum_case2)

# 결과를 result에 할당
import numpy as np 
result = int(np.floor(max_value))

# 결과 출력
print(result)

856

09. Cars93 데이터셋에서 'Price' 컬럼은 'Min_Price'와 'Max_Price'의 평균으로 알려져있다. 이와 같은 사실을 통해 'Price'컬럼의 결측치의 원래의 값을 계산한 후, 'Price'가 14.7보다 작거나 25.3보다 크면서 'Large' 타입인 레코드 수를 계산하여라.

In [300]:
import pandas as pd
Cars93 = pd.read_csv('./data/Cars93.csv')

In [301]:
# 'Price' 컬럼의 결측치의 원래의 값을 계산
# 컬럼들 시리즈로 별도 저장
Price = Cars93['Price'].copy()
Max_Price = Cars93['Max_Price'].copy()
Min_Price = Cars93['Min_Price'].copy()
Type = Cars93['Type'].copy()

In [303]:
# 'Price' 컬럼이 결측인 조건
cond_na = Price.isna()

In [307]:
# 'Price'가 결측치인 경우만 'Min_Price'와 'Max_Price'의 평균을 할당
Price[cond_na] = (Max_Price[cond_na] + Min_Price[cond_na]) / 2

In [309]:
# 'Price'가 14.7보다 작거나 25.3보다 크면서 'Large' 타입인 레코드 수
# 조건1
cond1 = Price < 14.7

# 조건2
cond2 = (Price > 25.3) & (Type == 'Large')

In [310]:
# 해당하는 조건
cond = cond1 | cond2

In [313]:
# 결과를 result에 할당
result = Cars93[cond].shape[0]

In [314]:
# 결과 출력
print(result)

35

10. Cars93 데이터셋에서 'Make' 컬럼을 이용하여 제조사가 'Chevrolet', 'Pontiac', 'Hyundai'이면서 'AirBags'이 'Driver'에만 있는 경우의 레코드 수를 계산하여라.

In [329]:
import pandas as pd
Cars93 = pd.read_csv('./data/Cars93.csv')

In [330]:
# 컬럼들 시리즈로 별도 저장
Make = Cars93['Make'].copy()
AirBags = Cars93['AirBags'].copy()

In [334]:
# 선행 문자(공백) 제거
Make = Make.str.strip()

In [337]:
# 조건
# 문자열이 'Chevrolet' 또는 'Pontiac' 또는 'Hyundai'로 시작하면 True를 반환함
cond_1 = Make.str.startswith(('Chevrolet', 'Pontiac', 'Hyundai'))

In [340]:
# 'AirBags'이 'Driver'에만 있는 경우
cond_2 = AirBags == 'Driver only'

In [342]:
# 결과를 result에 할당
result = sum(cond_1 & cond_2)

In [343]:
# 결과 출력
print(result)

3

11. Rabbit 데이터셋을 불러와 Dose 컬럼의 제 3사분위수와 제 2사분위수를 구하고 두 값의 차이의 절댓값을 구한 후 소수점을 버린 값을 출력하여라.

In [356]:
import pandas as pd
Rabbit = pd.read_csv('./data/Rabbit.csv')

In [357]:
# 제 3사분위수, 제 2사분위수 별도 저장
q3 = Rabbit['Dose'].quantile(0.75)
q2 = Rabbit['Dose'].median()

In [358]:
# 두 값의 차이의 절댓값
diff = abs(q3 - q2)

In [359]:
# 결과를 result에 할당
result = diff.astype('int64')

In [360]:
# 결과 출력
print(result)

62

12.Boston 데이터셋을 불러와 medv 컬럼에 대해서 동일한 폭으로 binning한 후 가장 많은 빈도를 가지고 구간을 산출하고 해당 구간 내 dis 컬럼의 중앙값을 구하여라.(폭은 10을 기준으로 하고 소수점은 둘째 자리까지 나타내시오.)

In [363]:
import pandas as pd
Boston = pd.read_csv('./data/Boston.csv')

In [369]:
# medv 컬럼에 대해서 동일한 폭으로 binning
medv_cut = pd.cut(Boston['medv'], bins = [0, 10, 20, 30, 40, 50])

In [371]:
# 가장 많은 빈도를 가지는 구간을 산출
mode = medv_cut.value_counts().idxmax()

In [375]:
# 해당구간 내 dis 컬럼의 중앙값
# 조건
cond = (medv_cut == mode)

In [379]:
# 중앙값
median = Boston['dis'][cond].median()

In [381]:
# 결과를 result에 할당
result = round(median, 2)

In [382]:
# 결과 출력
print(result)

3.95

13. Melanoma 데이터셋을 불러와 1~122번째 레코드와 123번째 이후 레코드로 데이터셋을 분리하고 각 데이터셋별로 thickness 컬럼을 z-score 정규화로 변환한 후 -1과 1 사이 값들의 중앙값을 각각 산출한 후 합계를 구하여라. (단, z-score 정규화 변환 계산에 사용되는 평균과 표준편차는 분리된 것과 관계없이 1~123번째 레코드로 이루어진 데이터셋을 기준으로 하고 출력 시 소수점 넷째 자리까지 반올림하여 나타낼 것, 레코드 번호는 가장 위에 위치한 레코드를 1번으로 가정함)

In [383]:
import pandas as pd
Melanoma = pd.read_csv('./data/Melanoma.csv')

In [387]:
# 1~123번째 레코드와 123번째 이후 레코드로 데이터셋을 분리
df1 = Melanoma.iloc[:123]
df2 = Melanoma.iloc[123:]

In [406]:
# thickness 컬럼을 z-score 정규화로 변환
avg = df1['thickness'].mean()
sd = df1['thickness'].std()

In [408]:
# z-score 변환
df1_zscore = (df1['thickness'] - avg) / sd
df2_zscore = (df2['thickness'] - avg) / sd

In [409]:
# -1과 1 사이 값들의 중앙값을 각각 산출
sub_df1_zscore = df1_zscore[(df1_zscore > -1) & (df1_zscore < 1)]
sub_df2_zscore = df2_zscore[(df2_zscore > -1) & (df2_zscore < 1)]

In [410]:
# 중앙값
med1 = sub_df1_zscore.median()
med2 = sub_df2_zscore.median()

In [411]:
# 결과를 result에 할당
result = round(med1 + med2, 4)

In [412]:
# 결과 출력
print(result)

-1.0027

PART 03 통계분석

Titanic.csc는 타이타닉호의 침몰 사건에서 생존한 승객 및 사망한 승객의 정보를 포함한 자료이다. 생존 여부(Survived)를 예측하고자 한다.

In [153]:
import pandas as pd
titanic_train = pd.read_csv('./data/titanic_train.csv')
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [154]:
# 컬럼 확인
titanic_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [155]:
# 결측치 확인
titanic_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [156]:
# 교차표 만들기
contingency_table = pd.crosstab(titanic_train['Sex'], titanic_train['Survived'])

In [157]:
# 동질성 검정
from scipy.stats import chi2_contingency
chi, p, df, expected = chi2_contingency(contingency_table)

In [158]:
# 결과 출력
print(round(chi,3))

260.717

In [159]:
# 라벨인코더
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
titanic_train['Sex'] = le.fit_transform(titanic_train['Sex'])

In [160]:
# 독립변수와 종속변수 지정
X = titanic_train[['Sex', 'SibSp', 'Parch', 'Fare']]
y = titanic_train['Survived']

In [161]:
import statsmodels.api as sm
# 상수항 추가
X = sm.add_constant(X)

In [162]:
# GLM객체 생성 후 적합
model = sm.GLM(y, X, family = sm.families.Binomial())
result = model.fit()

In [163]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  891
Model:                            GLM   Df Residuals:                      886
Model Family:                Binomial   Df Model:                            4
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -429.52
Date:                Sun, 16 Jun 2024   Deviance:                       859.04
Time:                        19:37:33   Pearson chi2:                     879.
No. Iterations:                     5   Pseudo R-squ. (CS):             0.3077
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.9466      0.169      5.590      0.000       0.615       1.279
Sex           -2.6422      0.186    -14.197      0.000      -3.007      -2.277
SibSp         -0.3539      0.098     -3.604      0.000      -0.546      -0.161
Parch         -0.2007      0.112     -1.792      0.073      -0.420       0.019
Fare           0.0147      0.003      5.553      0.000       0.010       0.020
==============================================================================
"""

In [164]:
# 결과 출력
print(round(-0.2007, 3))

-0.201

In [165]:
import numpy as np
# 오즈비
odds_ratio = round(np.exp(-0.3539), 3)
print(odds_ratio)

0.702

1장. 가설 검정

1절 상관분석

Q. 사이킷런 패키지로부터 내장 데이터 diabetes를 데이터프레임 형태로 호출하고, 'age'와 'bmi' 두 개의 컬럼에 대하여 두 데이터가 상관관계가 있는지 피어슨 상관계수를 이용해 분석해보자. (정규성 만족 가정)

In [7]:
# 데이터 호출한 후 데이터프레임으로 변환
import pandas as pd
from sklearn.datasets import load_diabetes

In [11]:
diabetes = load_diabetes()

In [18]:
data = pd.DataFrame(diabetes.data, columns = diabetes.feature_names)

In [21]:
data.info() # 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     442 non-null    float64
 1   sex     442 non-null    float64
 2   bmi     442 non-null    float64
 3   bp      442 non-null    float64
 4   s1      442 non-null    float64
 5   s2      442 non-null    float64
 6   s3      442 non-null    float64
 7   s4      442 non-null    float64
 8   s5      442 non-null    float64
 9   s6      442 non-null    float64
dtypes: float64(10)
memory usage: 34.7 KB

In [22]:
# scipy.stats.pearsonr
from scipy.stats import pearsonr

pearsonr(x = data['age'], y = data['bmi'])

PearsonRResult(statistic=0.18508466614655553, pvalue=9.076791865417418e-05)

In [26]:
# 단순한 상관계수의 산출은 데이터프레임객체.corr()로도 가능
data[['sex', 'bmi']].corr()

          sex       bmi
sex  1.000000  0.088161
bmi  0.088161  1.000000

2절. 정규성 검정

Q. 임의의 균일 표본을 생성한 후, 생성된 표본의 정규성 여부 확인을 위한 샤피로-윌크 검정을 수행해보자.

In [27]:
# 필요한 패키지 호출
import numpy as np

In [34]:
# 균일표본 생성
# (참고) np.random.random(size) : 균일 분포로부터 size개의 len을 가지는 난수 생성
np.random.seed(2024) # 결과의 일관성을 위해 시드값 설정
x = np.random.random(10)

In [35]:
# 샤피로-윌크 검정 수행
from scipy.stats import shapiro
shapiro(x)

ShapiroResult(statistic=0.8969662710477171, pvalue=0.20285343366469372)

3절. 모평균과 모분산 검정

Q. 몸무게 데이터를 임의로 생성해보고 모집단의 평균이 70이라고 할 수 있는지 단일표본 t-검정을 수행해보자.(정규성 만족 가정)

In [36]:
# 필요한 패키지 호출
import numpy as np

In [37]:
# 몸무게 데이터 임의 생성
kg = np.array([75.5, 83.9, 75.7, 56.2, 73.4, 67.7, 79.0, 50.7, 58.4, 74.1, 65.1, 77.8, 48.1, 46.3])

In [38]:
# 표본 평균
np.mean(kg)

66.56428571428572

In [40]:
# 단일 표본 t-검정 실행
from scipy.stats import ttest_1samp

ttest_1samp(kg, 70)

TtestResult(statistic=-1.0289933120202257, pvalue=0.3222484823978743, df=13)

Q. 남녀 몸무게 데이터를 임의로 생성하고, 두 데이터가 서로 짝지어져 있다고 가정하고, 두 데이터에 대한 모평균이 서로 다르다고 할 수 있는 지 대응표본 t-검정을 수행해보자.(정규성 만족 가정)

In [3]:
# 남녀 몸무게 데이터를 임의로 생성
import pandas as pd
import numpy as np
female = np.array([50.7, 58.4, 74.1, 65.1, 77.8, 48.1, 46.3])
male = np.array([75.5, 83.9, 75.7, 56.2, 73.4, 67.7, 79.0])

In [5]:
# 두 데이터의 차이의 평균
diff = female - male
np.mean(diff)

-12.985714285714291

In [6]:
# 대응표본 t-검정 실행
from scipy.stats import ttest_rel
ttest_rel(female, male)

TtestResult(statistic=-2.078446933064972, pvalue=0.08291274205610201, df=6)

Q. 남녀 몸무게 데이터를 활용해 두 데이터가 독립이라고 가정하고, 두 데이터에 대한 모평균이 서로 다르다고 할 수 있는 지 독립표본 t-검정을 수행해보자.(정규성, 등분산성 만족 가정)

In [7]:
# 독립표본 t-검정 실행
from scipy.stats import ttest_ind
ttest_ind(female, male)

TtestResult(statistic=-2.2186641577772956, pvalue=0.046550122110569664, df=12.0)

2장. 통계 모형

1절. 선형 회귀모형

Q. diabetes 데이터에서 'bmi' 컬럼을 독립변수로 설정하고, 'target' 변수를 종속변수로 설정하여 선형 회귀분석을 실시해보자.

In [1]:
# 데이터 호출한 후 데이터프레임으로 변환
import pandas as pd
from sklearn.datasets import load_diabetes

In [2]:
diabetes = load_diabetes()

In [3]:
data = pd.DataFrame(diabetes.data, columns = diabetes.feature_names)

In [6]:
# 'target' 컬럼 호출
target = diabetes.target

In [13]:
# 단순 선형회귀 모델 생성
from scipy.stats import linregress

model = linregress(x = data['bmi'], y = target)
print(model) # 전체 결과

LinregressResult(slope=949.4352603840383, intercept=152.13348416289617, rvalue=0.5864501344746885, pvalue=3.4660064451673995e-42, stderr=62.51512200285265, intercept_stderr=2.973541118790735)

In [15]:
# 독립변수에 대한 추정된 회귀계수(beta1)
print(model.slope)

949.4352603840383

In [16]:
# 상수항에 대한 추정된 회귀계수(beta0)
print(model.intercept)

152.13348416289617

target = 152.13 + 949.44 * bmi

In [17]:
# beta1에 대한 통계적 유의성(p-value)
print(model.pvalue) # p-value가 매우 작기 때문에 통계적으로 유의함(대립가설 : 회귀계수는 0이 아니다)

3.4660064451673995e-42

In [19]:
# 결정계수(모형의 설명력)
print(model.rvalue) # 현 데이터의 약 58.75%를 설명할 수 있음

0.5864501344746885

Q. tips 데이터를 불러와 총액(total_bill)과 사람 수(size)를 독립변수로 하고, 팁(tip)을 종속변수로 하는 다중 선형 회귀분석을 수행해보자.

In [23]:
# 필요 데이터 호출
import pandas as pd
tips = pd.read_csv('./data/tips.csv')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [27]:
# 독립변수(total_bill, size)와 종속변수 지정
X = tips[['total_bill', 'size']] # 독립변수
y = tips['tip'] # 종속변수

In [29]:
import statsmodels.api as sm

# 상수항 추가
X = sm.add_constant(X)

In [32]:
# 다중 선형 회귀분석 수행
# OLS 객체 생성 후 적합
model = sm.OLS(y, X).fit()

In [33]:
print(model.summary()) # 회귀분석 결과

                            OLS Regression Results
==============================================================================
Dep. Variable:                    tip   R-squared:                       0.468
Model:                            OLS   Adj. R-squared:                  0.463
Method:                 Least Squares   F-statistic:                     105.9
Date:                Thu, 06 Jun 2024   Prob (F-statistic):           9.67e-34
Time:                        23:26:46   Log-Likelihood:                -347.99
No. Observations:                 244   AIC:                             702.0
Df Residuals:                     241   BIC:                             712.5
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6689      0.194      3.455      0.001       0.288       1.050
total_bill     0.0927      0.009     10.172      0.000       0.075       0.111
size           0.1926      0.085      2.258      0.025       0.025       0.361
==============================================================================
Omnibus:                       24.753   Durbin-Watson:                   2.100
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               46.169
Skew:                           0.545   Prob(JB):                     9.43e-11
Kurtosis:                       4.831   Cond. No.                         67.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [39]:
# 5번째 관측치에 대한 tip의 기댓값을 추정
print(X.iloc[4])
model.predict(X.iloc[4])

const          1.00
total_bill    24.59
size           4.00
Name: 4, dtype: float64

None    3.719157
dtype: float64

In [45]:
# 새로운 독립변수의 배열을 입력 값으로 지정
new_data = pd.DataFrame({'const' : [1], 'total_bill' : [24.59], 'size' : [4]})

# 예측 기댓값 결과 얻기
result = model.get_prediction(new_data)

<statsmodels.regression._prediction.PredictionResults object at 0x0000025D759C1700>

2절. 로지스틱 회귀모형

Q. survived 데이터를 불러와 객실등급(pclass)을 독립변수로 하고, 생존여부(survived)를 종속변수로 하는 로지스틱 회귀분석을 수행해보자. (객실등급은 A등급인 경우 1, B등급인 경우는 0으로 인코딩 되어있다.)

In [50]:
# 필요한 데이터 호출
import pandas as pd
survived = pd.read_csv('./data/survived.csv')
survived.head()

   survived  pclass  sex   age
0         0       0    1  22.0
1         1       1    0  38.0
2         1       0    0  26.0
3         1       1    0  35.0
4         0       0    1  35.0

In [57]:
import statsmodels.api as sm

# 독립변수와 종속변수 지정
X = survived['pclass'] # 독립변수
y = survived['survived'] # 종속변수

# 상수항 추가
X = sm.add_constant(X)

In [62]:
# 로지스틱 회귀분석
# GLM객체 생성 후 적합
model = sm.GLM(y, X, family = sm.families.Binomial()).fit()
print(model.summary()) # 분석결과

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                  541
Model:                            GLM   Df Residuals:                      539
Model Family:                Binomial   Df Model:                            1
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -315.13
Date:                Thu, 06 Jun 2024   Deviance:                       630.26
Time:                        23:51:07   Pearson chi2:                     541.
No. Iterations:                     4   Pseudo R-squ. (CS):             0.1527
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.1558      0.124     -9.293      0.000      -1.400      -0.912
pclass         1.8009      0.198      9.086      0.000       1.412       2.189
==============================================================================

In [67]:
import numpy as np

# A등급의 추정 생존확률
Prob_A = np.exp(-1.1558 + 0*1.8009) / (1 + np.exp(-1.1558 + 0*1.8009))

# B등급의 추정 생존확률
Prob_B = np.exp(-1.1558 + 1*1.8009) / (1 + np.exp(-1.1558 + 1*1.8009))

print(Prob_A, Prob_B)

0.2394312844887346 0.6559054109099537

In [75]:
#### 모형 적합도 검정
# 적합모형의 이탈도
dev = model.deviance
print(dev)

# 영모형의 이탈도
dev0 = model.null_deviance
print(dev0)

# 카이제곱통계량과 자유도
stat = dev0 - dev
df = 2 - 1 # 적합모형의 회귀계수의 수 - 영모형의 회귀계수의 수
print(stat, df)

from scipy.stats import chi2
pval = 1 - chi2.cdf(stat, df) # 유의확률
print(pval) # 모형이 잘 적합하고 있음

630.2646521014274
719.8918959915944
89.62724389016705 1
0.0

작업형3

연습문제

01. Rabbit_Five.csv는 신약 개발을 위해 실험에 사용된 데이터이다. 데이터를 이용하여 실험군(MDL)과 대조군(Control) 간 혈압 변화(BPchange)가 차이가 있는 지를 대응표본 t-검정(paired t-test)를 통해 답하고자 한다.

In [85]:
import pandas as pd
Rabbit_Five = pd.read_csv('./data/Rabbit_Five.csv')
Rabbit_Five.head()

   BP_change    Dose Treatment lbl_Animal
0        0.5    6.25   Control         R1
1        4.5   12.50   Control         R1
2       10.0   25.00   Control         R1
3       26.0   50.00   Control         R1
4       37.0  100.00   Control         R1

In [87]:
# 필요한 컬럼 각각 할당
BP_change = Rabbit_Five['BP_change']
Treatment = Rabbit_Five['Treatment']

In [94]:
# Treatment가 Control인 경우(대조군)과 MDL인 경우(실험군)의 BP_change 값 각각 할당
BPC_Treat = BP_change[Treatment == 'MDL'].reset_index(drop = True)
BPC_Control = BP_change[Treatment == 'Control'].reset_index(drop = True)

In [97]:
# 점추정량 = mean(PC_Treat, PC_Control)
diff_avg = (BPC_Treat - BPC_Control).mean()
diff_avg = round(diff_avg, 2)
print(diff_avg)

-4.68

In [100]:
# 대응표본 t검정 수행
from scipy.stats import ttest_rel
a = ttest_rel(BPC_Treat, BPC_Control)

In [102]:
# 검정통계량
stat = a.statistic
stat = round(stat, 2)
print(stat)

-3.67

In [104]:
# p-값/기각여부
pval = a.pvalue
pval = round(pval, 3)
print(pval)
print('기각')

0.001
기각

02. mtcars2.csv를 통해 변속기 종류(am)에 따라 마력(hp)에 대한 분산이 차이가 있는 지를 분산비 검정(F test to compare two variances)를 통해 답하고자 한다.

In [223]:
import pandas as pd
mtcars2 = pd.read_csv('./data/mtcars2.csv', encoding = 'cp949')
mtcars2.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8    NaN  175  3.15  3.440  17.02   0   0     3     2

In [228]:
# 필요한 컬럼 각각 할당
am = mtcars2['am']
hp = mtcars2['hp']

In [232]:
# 수동변속기(am=1)인 자동차의 마력(hp), 자동변속기(am=0)인 자동차의 마력(hp) 각각 할당
hp_manual = hp[am==1].reset_index(drop = True)
hp_auto = hp[am==0].reset_index(drop = True)

In [238]:
# 수동변속 표본분산/자동변속 표본분산
var_ratio = hp_manual.var() / hp_auto.var()
print(round(var_ratio, 2))

2.43

In [239]:
# F검정
stat = var_ratio
print(stat)

2.431605932653339

In [242]:
# 자유도
df1, df2 = len(hp_manual) - 1, len(hp_auto) - 1

In [245]:
from scipy.stats import f
# F분포로 확률 계산
pval = 1 - f.cdf(stat, dfn = df1, dfd = df2)

In [247]:
# 결과 출력
print(round(var_ratio, 2))
print(round(stat, 2))
print(round(pval, 3))
print('기각')

2.43
2.43
0.043
기각

03. 고객_등급리스트.csv를 통해 고객군(Segment)과 지역(Region)간 관련이 있는지를 독립성 검정(Test of independence)을 통해 답하고자 한다.

In [167]:
import pandas as pd
customer = pd.read_csv('./data/고객_등급리스트.csv')
customer.head()

,Customer_ID,ID,Name,Age,City,State,Region,Segment
0,NaN,12520,Claire Gute,6*,Henderson,Kentucky,South,Consumer
1,NaN,13045,Darrin Van Huff,3*,Los Angeles,California,West,Corporate
2,NaN,20335,Sean O'Donnell,6*,Fort Lauderdale,Florida,South,Consumer
3,NaN,11710,Brosina Hoffman,2*,Los Angeles,California,West,Consumer
4,NaN,10480,Andrew Allen,5*,Concord,North Carolina,South,Consumer

In [171]:
# 교차표 생성
tb = pd.crosstab(customer['Segment'], customer['Region'])

In [175]:
# 카이제곱 검정
from scipy.stats import chi2_contingency
chi2, pval, df, expected = chi2_contingency(tb)

In [180]:
# E23 : expected의 (1,2) 인덱스 번호 추출
e23 = expected[1, 2] 
e23 = round(e23, 2)
print(e23)

15.74

In [183]:
# 검정통계량
chi2 = chi2.astype('int')
print(chi2)

9

In [186]:
# p-값/기각 여부
pval = round(pval, 3)
print(pval)
print('채택')

0.148
채택

04. Cars93.csv를 통해 가격(Price)이 정규 분포를 따르는 지를 샤피로-윌크(Shapiro Wilk Test)를 통해 답하고자 한다.

In [207]:
import pandas as pd
Cars93 = pd.read_csv('./data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [212]:
# 필요한 컬럼 할당
Price = Cars93['Price'].copy().dropna()

In [214]:
# 표본평균
avg = Price.mean()
avg = round(avg, 2)
print(avg)

19.05

In [218]:
# 샤피로 윌크 검정 수행
from scipy.stats import shapiro
stat, pval = shapiro(Price)

# 검정통계량
stat = round(stat, 2)
print(stat)

0.85

In [219]:
# p-값/기각 여부
pval = round(pval, 4)
pval = int(pval)
print(pval)
print('기각')

0
기각

05. Cars93.csv를 통해 마일당엔진회전수(Rev_per_mile)과 마력(Horsepower)과의 상관관계를 알아보고 상관계수의 유의성을 피어슨 상관계수 검정(Pearson`s Correlation Coefficient Test)를 통해 답하고자 한다.

In [187]:
import pandas as pd
Cars93 = pd.read_csv('./data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [191]:
# 상관분석에 필요한 컬럼명 저장
RPM = Cars93['Rev_per_mile']
Horsepower = Cars93['Horsepower']

In [195]:
# 상관계수 검정
from scipy.stats import pearsonr
rho, pval = pearsonr(Horsepower, RPM)

In [198]:
# 표본상관계수
rho = round(rho, 3)
print(rho)

-0.502

In [205]:
# 검정통계량
stat = rho / np.sqrt((1-rho**2)/(len(Horsepower)-2))
stat = round(stat, 2)
print(stat)

-5.54

In [206]:
# p-값/기각 여부
pval = int(pval)
print(pval)
print('기각')

0
기각

06. USArrests.csv는 미국 50개 주의 범죄와 체포와 관련된 데이터이다. 차원 축소를 주성분 분석을 통해 수행하고자 한다.

In [416]:
import pandas as pd
USArrests = pd.read_csv('./data/USArrests.csv')
USArrests.head()

   Murder  Assault  UrbanPop  Rape
0    13.2      236        58  21.2
1    10.0      263        48  44.5
2     8.1      294        80  31.0
3     8.8      190        50  19.5
4     9.0      276        91  40.6

In [421]:
# pca 수행
from sklearn.decomposition import PCA
pca = PCA(n_components = 4) # 주성분 객체 생성
pca.fit_transform(USArrests)

array([[ 6.48021637e+01, -1.14480074e+01, -2.49493284e+00,
         2.40790093e+00],
       [ 9.28274502e+01, -1.79829427e+01,  2.01265749e+01,
        -4.09404703e+00],
       [ 1.24068216e+02,  8.83040304e+00, -1.68744836e+00,
        -4.35368520e+00],
       [ 1.83400354e+01, -1.67039114e+01,  2.10189364e-01,
        -5.20993604e-01],
       [ 1.07422953e+02,  2.25200698e+01,  6.74587299e+00,
        -2.81182590e+00],
       [ 3.49759860e+01,  1.37195840e+01,  1.22793628e+01,
        -1.72146370e+00],
       [-6.08872819e+01,  1.29325302e+01, -8.42065719e+00,
        -6.99902287e-01],
       [ 6.67310254e+01,  1.35379780e+00, -1.12809573e+01,
        -3.72798119e+00],
       [ 1.65244370e+02,  6.27469007e+00, -2.99793315e+00,
         1.24768071e+00],
       [ 4.05351766e+01, -7.29023959e+00,  3.60952946e+00,
         7.34367284e+00],
       [-1.23536106e+02,  2.42912079e+01,  3.72444284e+00,
         3.47284940e+00],
       [-5.17970023e+01, -9.46919099e+00, -1.52006356e+00,
        -3.34782833e+00],
       [ 7.89920973e+01,  1.28970605e+01, -5.88326477e+00,
         3.67640738e-01],
       [-5.75509607e+01,  2.84626471e+00,  3.73816049e+00,
         1.64943016e+00],
       [-1.15586790e+02, -3.34213050e+00, -6.54029354e-01,
        -8.69495984e-01],
       [-5.57896941e+01,  3.15723392e+00,  3.84364163e-01,
         6.52791690e-01],
       [-6.23831806e+01, -1.06732715e+01,  2.23708903e+00,
         3.87621641e+00],
       [ 7.82776313e+01, -4.29491750e+00, -3.82786965e+00,
         4.48355900e+00],
       [-8.92610443e+01, -1.14878272e+01, -4.69240562e+00,
        -2.11619948e+00],
       [ 1.29330136e+02, -5.00703148e+00, -2.34717282e+00,
        -1.92832425e+00],
       [-2.12662826e+01,  1.94501790e+01, -7.50714835e+00,
        -1.03481895e+00],
       [ 8.54515267e+01,  5.90455670e+00,  6.46434210e+00,
         4.99047890e-01],
       [-9.89548155e+01,  5.20960058e+00,  6.57375986e-03,
        -7.31895664e-01],
       [ 8.68563577e+01, -2.74284196e+01, -5.00343624e+00,
         3.87975769e+00],
       [ 7.98628867e+00,  5.27564140e+00,  5.50057972e+00,
         6.79405505e-01],
       [-6.24836353e+01, -9.51050205e+00,  1.83835536e+00,
         2.45942647e-01],
       [-6.90965444e+01, -2.11195917e-01,  4.68020859e-01,
        -6.56566427e-01],
       [ 8.36135784e+01,  1.51021839e+01,  1.58886948e+01,
         3.34196244e-01],
       [-1.14777355e+02, -4.73455836e+00, -2.28238693e+00,
        -9.35910563e-01],
       [-1.08157251e+01,  2.31373389e+01, -6.31015739e+00,
         1.61242729e+00],
       [ 1.14868163e+02, -3.36453098e-01,  2.26126996e+00,
        -1.38124776e+00],
       [ 8.42942305e+01,  1.59239655e+01, -4.72125960e+00,
         8.92019350e-01],
       [ 1.64325514e+02, -3.10966153e+01, -1.16961635e+01,
        -2.11119273e+00],
       [-1.27495597e+02, -1.61350394e+01, -1.31182982e+00,
        -2.30096392e+00],
       [-5.00868217e+01,  1.22793244e+01,  1.65733077e+00,
         2.02911567e+00],
       [-1.96937229e+01,  3.37013102e+00, -4.53143295e-01,
        -1.80345739e-01],
       [-1.11502396e+01,  3.86606815e+00,  8.12998050e+00,
        -2.91401089e+00],
       [-6.46891419e+01,  8.91154655e+00, -3.20646858e+00,
         1.87493531e+00],
       [ 3.06397257e+00,  1.83739704e+01, -1.74700197e+01,
        -2.30825968e+00],
       [ 1.07281069e+02, -2.35361159e+01, -2.03279501e+00,
         1.25174626e+00],
       [-8.61067201e+01, -1.65978586e+01,  1.31437998e+00,
        -1.25228739e+00],
       [ 1.75062643e+01, -6.50657560e+00,  6.10012753e+00,
         3.92285575e+00],
       [ 3.12911217e+01,  1.29849566e+01, -3.93409218e-01,
         4.24200405e+00],
       [-4.99133974e+01,  1.76484577e+01,  1.78816852e+00,
        -1.86770524e+00],
       [-1.24714469e+02, -2.73135591e+01,  4.80277765e+00,
        -2.00498568e+00],
       [-1.48174482e+01, -1.75261502e+00,  1.04538813e+00,
         1.17384083e+00],
       [-2.50758390e+01,  9.96796691e+00,  4.78112764e+00,
        -2.69108186e+00],
       [-9.15446470e+01, -2.29528778e+01, -4.01983435e-01,
         7.36878098e-01],
       [-1.18176328e+02,  5.50757920e+00, -2.71132077e+00,
         2.04972398e-01],
       [-1.04345394e+01, -5.92445292e+00, -3.79444682e+00,
        -5.17867428e-01]])

In [428]:
# 첫번째 주성분의 폭력범죄 기여 가중치
# pca.components_.T에서 행은 기존 컬럼(Merder, Assault, UrbanPop, Rape)
# 열은 1~4 주성분
weight = pca.components_.T[1, 0]
weight = round(weight, 3)
print(weight)

0.995

In [433]:
# 34번째 도시의 1주성분의 주성분 점수
score = pca.fit_transform(USArrests)[33, 0]
score = round(score, 3)
print(score)

-127.496

In [439]:
# 주성분별 설명되는 분산 비율을 시리즈 객체로 저장
var_ratio = pd.Series(pca.explained_variance_ratio_)
result = round(var_ratio[0], 2)
print(result)
print(3)

0.97
3

07. Cars93.csv를 통해 마일당엔진회전수(Rev_per_mile), 중량(Weight), 길이(Length), 엔진크기(EngineSize)를 입력하면 중간가격(Price)을 예측하는 다중 선형 회귀 분석을 하고자 한다. (단, 별도의 규제화는 진행하지 않으며, 결측치가 있을 경우 해당 컬럼들의 결측치는 모두 제거함)

In [1]:
import pandas as pd
Cars93 = pd.read_csv('./data/Cars93.csv')

In [2]:
# 회귀분석 수행
# 회귀분석에 필요한 컬럼 별도 지정
col = ['Price', 'Rev_per_mile', 'Weight', 'Length', 'EngineSize']
samp = Cars93[col].dropna() # 결측치 제거

In [3]:
import statsmodels.api as sm

# y, X에 각각 할당
y = samp['Price']
X = samp[['Rev_per_mile', 'Weight', 'Length', 'EngineSize']]
X = sm.add_constant(X) # 절편항 적합을 위해 상수벡터 추가

In [4]:
# 모델 적합
model = sm.OLS(y, X)
result = model.fit() # fit메소드를 통해 모형 적합

In [5]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.396
Model:                            OLS   Adj. R-squared:                  0.366
Method:                 Least Squares   F-statistic:                     12.96
Date:                Sun, 16 Jun 2024   Prob (F-statistic):           3.69e-08
Time:                        12:51:15   Log-Likelihood:                -288.33
No. Observations:                  84   AIC:                             586.7
Df Residuals:                      79   BIC:                             598.8
Df Model:                           4
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           -2.6152     17.252     -0.152      0.880     -36.954      31.724
Rev_per_mile     0.0016      0.002      0.844      0.401      -0.002       0.005
Weight           0.0023      0.002      1.427      0.158      -0.001       0.005
Length          -0.0210      0.104     -0.203      0.840      -0.227       0.185
EngineSize       5.7126      1.479      3.861      0.000       2.768       8.657
==============================================================================
Omnibus:                       54.602   Durbin-Watson:                   1.203
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              252.601
Skew:                           2.010   Prob(JB):                     1.41e-55
Kurtosis:                      10.485   Cond. No.                     7.98e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.98e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [6]:
# 결정 계수
r_square = 0.396 
print(r_square)

0.396

In [7]:
# Weight의 추정 회귀계수
b = 0.0023
print(b)

0.0023

In [8]:
# Weight의 P > |t|을 통해 회귀계수 검정
pval = 0.158
print(pval)

0.158

In [11]:
# Weight의 회귀계수에 대한 95% 신뢰구간
result.conf_int(alpha = 0.05)

                      0          1
const        -36.954452  31.723953
Rev_per_mile  -0.002173   0.005371
Weight        -0.000892   0.005406
Length        -0.227167   0.185163
EngineSize     2.767785   8.657369

In [12]:
upper = 0.005406
upper = round(upper, 4)
print(upper)

0.0054

08. job.csv는 취업 현황 분석을 위해 사용된 데이터의 일부이다. 여러 특성(x1, x2, x3)을 통해 취업 성공(y) 여부를 예측하는 로지스틱 회귀 분석을 하고자 한다. (x2 컬럼은 성별에 대한 정보로, 모형 적합 시 남자(M)을 1로, 여자(F)을 0으로 인코딩하여 분석하되, 별도의 규제화는 진행하지 않음)

In [14]:
import pandas as pd
job = pd.read_csv('./data/job.csv')
job.head()

       x1 x2      x3  y
0  0.7759  M  0.9167  0
1  0.9397  M  0.1167  0
2 -0.2241  M  0.3000  0
3  0.7759  M  2.0333  0
4  0.7759  M  0.5000  0

In [17]:
# x2컬럼 M -> 1, F -> 0
job['x2'] = job['x2'].map({'M' : 1, 'F' : 0})

In [20]:
import statsmodels.api as sm
# y, X에 각각 할당
y = job['y']
X = job[['x1', 'x2', 'x3']]
X = sm.add_constant(X) # 절편항 적합을 위해 상수벡터 추가

In [25]:
# 모델 적합
model = sm.GLM(y, X, family = sm.families.Binomial())
result = model.fit()

In [26]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  105
Model:                            GLM   Df Residuals:                      101
Model Family:                Binomial   Df Model:                            3
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -56.381
Date:                Sun, 16 Jun 2024   Deviance:                       112.76
Time:                        13:12:29   Pearson chi2:                     106.
No. Iterations:                     4   Pseudo R-squ. (CS):            0.09941
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.8077      0.696     -1.160      0.246      -2.173       0.557
x1            -0.6233      0.198     -3.149      0.002      -1.011      -0.235
x2            -0.1575      0.684     -0.230      0.818      -1.498       1.183
x3            -0.2153      0.309     -0.696      0.487      -0.822       0.391
==============================================================================
"""

In [28]:
# 절편항 추정 회귀계수
b0 = -0.8077
b0 = round(b0, 3)
print(b0)

-0.808

In [31]:
import numpy as np
# 여성에 비해 남성의 성공에 대한 오즈가 몇 배인지를 구하려면
# 오즈비 = 남성의 성공 오즈 / 여성의 성공 오즈
odds_ratio = round(np.exp(-0.1575), 3)
print(odds_ratio)

0.854

In [41]:
# 9번째 사람의 성공 예측 확률
y_prob = round(result.predict(X)[8], 4)
print(y_prob)
print(0)

0.5344
0

09. 영화_순위리스트.csv를 통해 장르별 예산의 평균에 차이가 있는 지를 분산분석(ANOVA)를 수행하기 전 등분산 검정(Homogeneity of Variance)인 Bartlett 검정을 수행하고자 한다.

In [44]:
import pandas as pd
movie = pd.read_csv('./data/영화_순위리스트.csv', encoding = 'cp949')
movie.head()

,번호,홍보비,제작비,예산,영화길이_분,남자_주연_배우_순위,여_주연_배우_순위,디렉터_순위,프로듀서_순위,비평가_순위,트레일러_뷰수,3D_가능여부,트위터_해시태그_수,장르,배우_평균_나이
0,2,20.1264,59.62,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,Y,223.840,Thriller,23
1,3,20.5462,69.14,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,N,243.456,Drama,42
2,4,20.5458,69.14,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,N,2022.400,Comedy,38
3,5,20.6474,59.36,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,Y,225.344,Drama,45
4,6,21.3810,59.36,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,N,225.792,Drama,55

In [46]:
# 필요한 컬럼 각각 할당
genre = movie['장르']
budget = movie['예산']

In [48]:
# 장르 unique 확인
genre.unique()

array(['Thriller', 'Drama', 'Comedy', 'Action'], dtype=object)

In [54]:
# 장르별 예산 값 할당
budget_thriller = budget[genre == 'Thriller']
budget_comedy = budget[genre == 'Comedy']
budget_drama = budget[genre == 'Drama']
budget_action = budget[genre == 'Action']

In [78]:
# 합동분산

# 집단별 표본 분산
var_i = [budget_thriller.var(), budget_comedy.var(), budget_drama.var(), budget_action.var()]

# 집단별 관측치 수
n_i = [len(budget_thriller), len(budget_comedy), len(budget_drama), len(budget_action)]

N = sum(n_i)
k = 4 # 집단의 수

import numpy as np
log_sp2 = np.log((np.subtract(n_i, 1) * var_i) / (N-k))
log_sp2 = np.round(log_sp2, 3)
print(log_sp2)

[15.757 15.048 14.955 14.374]

In [81]:
# Bartlett Test 수행
from scipy.stats import bartlett
stat, pval = bartlett(budget_thriller, budget_comedy, budget_drama, budget_action)

In [83]:
# 검정통계량
stat = round(stat, 2)
print(stat)

13.44

In [84]:
# p-값/기각여부
pval = round(pval, 4)
print(pval)
print('기각')

0.0038
기각

모의고사 1회

작업형 - 제 1유형

01. 제공된 데이터(iris.csv)의 Sepal.Width 컬럼에 대해 Sepal.Width의 평균값을 기준으로 3배 표준편차 이상으로 떨어진 값들의 합을 구하여라.

In [42]:
import pandas as pd
iris = pd.read_csv('./data/iris.csv')
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [45]:
# sepal_width 별도 저장
sepal_width = iris['Sepal.Width']

In [50]:
## sepal_width 평균 기준 3배 표준편차 이상 떨어진 데이터추출
# sepal_width의 평균
avg = sepal_width.mean()

# sepal_width의 표준편차
sd = sepal_width.std()

# 상한과 하한
upp = avg + 3 * sd
low = avg - 3 * sd

In [52]:
## sepal_width 평균 기준 3배 표준편차 이상 벗어날 조건
# 하한보다 작고 상한보다 큼
cond = (sepal_width < low) | (sepal_width > upp)

In [55]:
# 결과를 result에 할당
result = sepal_width[cond].sum() # 떨어진 값들의 합

In [56]:
# 결과 추출
print(result)

4.4

02. 제공된 데이터(mtcars1.csv)의 disp 컬럼에 대해서 순위를 부여한 후, 1위부터 20위까지의 값들의 표준편차를 구하고 소수점 셋째 자리에서 반올림하여 나타내어라. (단, 동점은 동일한 순위를 부여하되 상위 등수를 기준으로 하며 최댓값을 1위로 함)

In [58]:
import pandas as pd
mtcars1 = pd.read_csv('./data/mtcars1.csv')
mtcars1.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [60]:
# disp 컬럼 별도 저장
disp = mtcars1['disp']

In [65]:
# disp 순위 부여
rank = disp.rank(method = 'min', ascending = False)

In [69]:
# 1위부터 20위까지의 값
rank20 = disp[rank <= 20]

In [73]:
# 결과를 result에 할당
result = round(rank20.std(), 2)

In [74]:
# 결과 출력
print(result)

97.47

03. 제공된 데이터(Cars93.csv)의 전체 레코드 수, 결측치가 있는 컬럼의 수, 전체 결측치 수, 결측치가 10개 이상인 컬럼들의 결측치가 있는 레코드만 삭제한 후의 전체 레코드의 수와 두 개 이상의 컬럼이 동시에 결측인 레코드의 행 번호들의 합을 구한 후 모두 합하여라.

In [76]:
import pandas as pd
Cars93 = pd.read_csv('./data/Cars93.csv')
Cars93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [79]:
# case1. 전체 레코드 수
case1 = Cars93.shape[0]

In [118]:
# case2. 결측치가 있는 컬럼의 수
case2 = sum(Cars93.isna().sum() != 0)

In [89]:
# case3. 전체 결측치 수
case3 = sum(Cars93.isna().sum())

In [95]:
# case4. 결측치가 10개 이상인 컬럼들의 결측치가 있는 레코드만 삭제한 후의 전체 레코드의 수
# 결측치의 수가 10개 이상인 컬럼명을 colnm_10over에 할당
colnm_10over = Cars93.columns[Cars93.isna().sum() > 10]

# 그 중에서 결측치가 없는 경우의 전체 레코드 수
sub1 = Cars93[colnm_10over].copy()
case4 = len(sub1.dropna())

In [116]:
# case5. 두 개 이상의 컬럼이 동시에 결측인 레코드의 행 번호들의 합
# 결측치의 수가 2개 이상인 행 인덱스를 rownm_2over에 할당
rownm_2over = Cars93.index[Cars93.isna().sum(axis = 1) >= 2]

# 행 번호를 리스트로 반환한 후 합함
sub2 = list(rownm_2over)
case5 = sum(sub2)

In [119]:
# 결과를 result에 할당
result = case1 + case2 + case3 + case4 + case5

In [120]:
# 결과 출력
print(result)

1090

작업형 - 제 2유형

타이타닉호의 탑승자들의 생존과 관련한 데이터이다. 주어진 데이터를 이용하여 예측 모형을 만들고 CSV 파일을 생성하시오.

In [2]:
# 데이터 불러오기
import pandas as pd
X_train = pd.read_csv('./data/titanic3_X_train.csv')
X_test = pd.read_csv('./data/titanic3_X_test.csv')
y_train = pd.read_csv('./data/titanic3_y_train.csv')

In [3]:
# 데이터 확인
print(X_train.head())

   ID  pclass      name   sex   age  sibsp  parch             ticket    fare  \
0   1       3  Sdy*****  male   NaN      0      0             349222  7.8958
1   2       3  Pel*****  male  25.0      0      0  STON/O 2. 3101291  7.9250
2   3       3  Kar*****  male  22.0      0      0             350060  7.5208
3   4       3  Saa*****  male   NaN      0      0               2676  7.2250
4   5       3  Cor*****  male  19.0      0      0             349231  7.8958

  cabin embarked
0   NaN        S
1   NaN        S
2   NaN        S
3   NaN        C
4   NaN        S

In [4]:
# 데이터 확인
print(X_test.head())

    ID  pclass      name     sex   age  sibsp  parch    ticket      fare  \
0  786       1  All*****  female   2.0      1      2    113781  151.5500
1  787       1  And*****    male  39.0      0      0    112050    0.0000
2  788       1  Bau*****    male   NaN      0      0  PC 17318   25.9250
3  789       1  Bax*****    male  24.0      0      1  PC 17558  247.5208
4  790       1  Bea*****    male  36.0      0      0     13050   75.2417

     cabin embarked
0  C22 C26        S
1      A36        S
2      NaN        S
3  B58 B60        C
4       C6        C

In [5]:
# 데이터 확인
print(y_train.head())

   ID  survived
0   1         0
1   2         0
2   3         0
3   4         0
4   5         0

In [8]:
# 데이터 요약 정보 확인
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785 entries, 0 to 784
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        785 non-null    int64
 1   pclass    785 non-null    int64
 2   name      785 non-null    object
 3   sex       785 non-null    object
 4   age       628 non-null    float64
 5   sibsp     785 non-null    int64
 6   parch     785 non-null    int64
 7   ticket    785 non-null    object
 8   fare      784 non-null    float64
 9   cabin     171 non-null    object
 10  embarked  784 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 67.6+ KB
None

In [13]:
# 데이터 요약 정보 확인
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524 entries, 0 to 523
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        524 non-null    int64
 1   pclass    524 non-null    int64
 2   name      524 non-null    object
 3   sex       524 non-null    object
 4   age       418 non-null    float64
 5   sibsp     524 non-null    int64
 6   parch     524 non-null    int64
 7   ticket    524 non-null    object
 8   fare      524 non-null    float64
 9   cabin     124 non-null    object
 10  embarked  523 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 45.2+ KB
None

In [14]:
# 데이터 요약 정보 확인
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785 entries, 0 to 784
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        785 non-null    int64
 1   survived  785 non-null    int64
dtypes: int64(2)
memory usage: 12.4 KB
None

In [17]:
# 기초통계량 확인
print(X_train.describe())

               ID      pclass         age       sibsp       parch        fare
count  785.000000  785.000000  628.000000  785.000000  785.000000  784.000000
mean   393.000000    2.296815   30.292994    0.501911    0.357962   33.454697
std    226.754272    0.835929   14.660563    1.051146    0.781166   52.251342
min      1.000000    1.000000    0.330000    0.000000    0.000000    0.000000
25%    197.000000    2.000000   21.000000    0.000000    0.000000    7.895800
50%    393.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%    589.000000    3.000000   39.250000    1.000000    0.000000   30.771850
max    785.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [18]:
# 기초통계량 확인
print(X_test.describe())

                ID      pclass         age       sibsp       parch       fare
count   524.000000  524.000000  418.000000  524.000000  524.000000  524.00000
mean   1047.500000    2.291985   29.262368    0.494275    0.425573   33.05726
std     151.410039    0.841475   14.028790    1.028265    0.977859   51.06143
min     786.000000    1.000000    0.170000    0.000000    0.000000    0.00000
25%     916.750000    1.750000   21.000000    0.000000    0.000000    7.91770
50%    1047.500000    3.000000   28.000000    0.000000    0.000000   14.45830
75%    1178.250000    3.000000   37.750000    1.000000    0.000000   31.38750
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.32920

In [19]:
# 기초통계량 확인
print(y_train.describe())

               ID    survived
count  785.000000  785.000000
mean   393.000000    0.382166
std    226.754272    0.486227
min      1.000000    0.000000
25%    197.000000    0.000000
50%    393.000000    0.000000
75%    589.000000    1.000000
max    785.000000    1.000000

In [23]:
# 데이터 전처리
# 불필요한 컬럼 삭제
# ID 컬럼은 탑승자에 대한 고유 정보로 key 역할로 모델에는 불필요함
# 결과 제출 시에는 X_test의 ID 컬럼이 필요하기 때문에 별도 저장
ID = X_test['ID'].copy()

In [27]:
# name은 텍스트 전처리 등의 방법으로 분석 가능하기도 하지만 편의상 제외
# 데이터에서 ID, name 컬럼 삭제
X_train = X_train.drop(columns = ['ID', 'name'])
X_test = X_test.drop(columns = ['ID', 'name'])
y_train = y_train.drop(columns = ['ID'])

In [28]:
# 결측치 처리
# 결측치 확인
X_train.isna().sum()

pclass        0
sex           0
age         157
sibsp         0
parch         0
ticket        0
fare          1
cabin       614
embarked      1
dtype: int64

In [29]:
# 결측치 확인
X_test.isna().sum()

pclass        0
sex           0
age         106
sibsp         0
parch         0
ticket        0
fare          0
cabin       400
embarked      1
dtype: int64

In [33]:
# age는 탑승자의 나이를 의미하고 survive와 상관관계가 낮으므로 컬럼을 삭제
# 결측일 조건
cond_na = X_train['age'].isna()

In [38]:
# 피어슨 상관계수
from scipy.stats import pearsonr
pearsonr(y_train['survived'][~cond_na], X_train['age'][~cond_na])

PearsonRResult(statistic=-0.03894154189837852, pvalue=0.32990878593923834)

In [41]:
# age 컬럼 삭제
X_train = X_train.drop('age', axis = 1)
X_test = X_test.drop('age', axis = 1)

In [43]:
# fare는 티켓요금을 의미하고 train에만 결측치가 1개 존재하므로 레코드를 삭제함
cond_na = X_train['fare'].isna()

In [46]:
# 행 삭제
X_train = X_train[~cond_na]
y_train = y_train[~cond_na]

In [56]:
# cabin은 선실번호를 의미하고 train은 레코드의 78%, test는 레코드의 76%가 결측이므로 컬럼을 삭제
X_train = X_train.drop('cabin', axis = 1)
X_test = X_test.drop('cabin', axis = 1)

In [61]:
# embarked는 탑승한 곳을 의미하고 범주형으로 최다빈도를 가지는 범주로 대체함
top = X_train['embarked'].value_counts().idxmax()

In [66]:
# 대치
X_train['embarked'] = X_train['embarked'].fillna(top)
X_test['embarked'] = X_test['embarked'].fillna(top)

In [71]:
# 카테고리형 컬럼 전처리
# 문자열(object) 컬럼들의 유일한 값 확인
print(X_train.select_dtypes('object').nunique())
print(X_test.select_dtypes('object').nunique())

sex           3
ticket      621
embarked      3
dtype: int64
sex           3
ticket      445
embarked      3
dtype: int64

In [73]:
# 여성에 대한 일부 카테고리가 'F'로 되어 있음
X_train['sex'].value_counts()

sex
male      517
female    244
F          23
Name: count, dtype: int64

In [74]:
# 여성에 대한 일부 카테고리가 'F'로 되어 있음
X_test['sex'].value_counts()

sex
male      325
female    173
F          26
Name: count, dtype: int64

In [78]:
# train, test 모두 'F'를 'female'로 통일
X_train['sex'] = X_train['sex'].map({'male' : 'male', 'female' : 'female', 'F' : 'female'})
X_test['sex'] = X_test['sex'].map({'male' : 'male', 'female' : 'female', 'F' : 'female'})

In [81]:
# ticket 컬럼의 경우 대다수가 중복되지 않으므로 컬럼을 삭제하는 것으로 결정
X_train = X_train.drop('ticket', axis = 1)
X_test = X_test.drop('ticket', axis = 1)

빅데이터 분석기사 제6회 기출문제

제 1유형

01

In [9]:
import pandas as pd
sejong_fire = pd.read_csv('./data/sejong_fire.csv', encoding = 'cp949')

In [17]:
# 화재 진압 시간 계산
sejong_fire['접수일시'] = pd.to_datetime(sejong_fire['접수일시'])
sejong_fire['상황종료일시'] = pd.to_datetime(sejong_fire['상황종료일시'])
sejong_fire['화재진압시간'] = (sejong_fire['상황종료일시'] - sejong_fire['접수일시']).astype('timedelta64[s]')

In [36]:
# 화재 진압 시간이 가장 큰 서센터의 평균 화재 진압 시간 계산
# 화재 진압 시간이 가장 큰 서센터
center_name = sejong_fire['서센터명'][sejong_fire['화재진압시간'].argmax()]

In [40]:
# 위 센터에 대한 데이터만 복사
df = sejong_fire.loc[sejong_fire['서센터명'] == center_name].copy()

In [49]:
df['화재진압시간'].mean()

Timedelta('1 days 02:13:06')

02

In [53]:
import pandas as pd
busan_school_Info = pd.read_csv('./data/busan_school_Info.csv', encoding = 'cp949')
busan_school_Info.head()

,school_name,student_1,student_2,student_3,student_4,student_5,student_6,teacher
0,광일초등학교,43,36,35,51,65,60,16
1,남성초등학교,86,100,99,71,78,49,22
2,대남초등학교,46,70,49,40,62,56,20
3,대연초등학교,132,135,151,156,179,171,45
4,대천초등학교,90,106,84,106,126,118,34

In [77]:
# 전체 학생 수의 교사 비율(교사 1인당 학생 수)이 가장 높은 학교의 교사 수
# 교사 1인당 학생 계산
ratio = busan_school_Info.iloc[:, 1:7].sum(axis = 1) / busan_school_Info['teacher']

# 위의 값이 가장 큰 학교 데이터만 추출
max_school_name = busan_school_Info['school_name'][ratio.argmax()]
df = busan_school_Info.loc[busan_school_Info['school_name'] == max_school_name].copy()

In [78]:
# 결과 저장
result = df['teacher'][ratio.argmax()]

In [79]:
# 결과 출력
print(result)

24

03

In [82]:
import pandas as pd
five_crime = pd.read_csv('./data/five_crime.csv', encoding = 'cp949')
five_crime.head()

,연월,살인_발생건수,살인_검거건수,강도_발생건수,강도_검거건수,강간_강제추행_발생건수,강간_강제추행_검거건수,절도_발생건수,절도_검거건수,폭력_발생건수,폭력_검거건수
0,2008. 01 월,19,18,49,49,191,186,1870,1166,5534,5342
1,2008. 02 월,9,9,43,36,184,182,1733,996,4534,4341
2,2008. 03 월,14,10,78,75,262,255,2374,1687,5690,5464
3,2008. 04 월,19,20,102,88,276,262,2513,1744,6080,5843
4,2008. 05 월,23,23,79,71,297,290,2406,1375,6427,6135

In [86]:
# 연도별 범죄 총 발생건수 계산
# 사이 공백들 처리 후 연도와 월을 문자열로 처리
five_crime['연월'] = five_crime['연월'].str.replace(' ', '')
five_crime['연월'] = five_crime['연월'].str.replace('월', '')
five_crime['연도'] = five_crime['연월'].str[:4].copy()
five_crime['월'] = five_crime['연월'].str[-2:].copy()

In [94]:
# 총 발생 건수 컬럼 추가
five_crime['총발생건수'] = five_crime.iloc[:,range(1, 11, 2)].sum(axis = 1)

In [98]:
# 연도별 범죄 총 발생건수의 월평균 계산
연도별월평균 = five_crime.groupby('연도')['총발생건수'].mean()

In [109]:
# 월평균이 가장 큰 연도 찾은 후 해당연도의 월평균 폭력검거건수를 출력
max_year = 연도별월평균.argmax()
result = five_crime.groupby('연도')['폭력_발생건수'].mean()[max_year]
result = round(result, 0).astype('int')
print(result)

5886

C:\Users\taek5\AppData\Local\Temp\ipykernel_11280\4010754138.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result = five_crime.groupby('연도')['폭력_발생건수'].mean()[max_year]

제 2유형

01

In [4]:
# 데이터셋 불러오기
import pandas as pd
train = pd.read_csv('./data/Airline_train.csv')
test = pd.read_csv('./data/Airline_test.csv')

In [11]:
# train 데이터를 X_train과 y_train으로 분할
y_train = train['Satisfaction']
X_train = train.drop('Satisfaction', axis = 1)

In [12]:
# test도 통일을 위해 X_test로 할당
X_test = test

In [16]:
# 데이터셋 확인하기
# 데이터셋 일부 확인
print(X_train.head())

   Gender      Ages Customer_Type     Class  Inflight_wifi_service  \
0  Female  [10, 20)             L  Eco Plus                      1
1  Female  [10, 20)             L       Eco                      2
2  Female  [10, 20)            NL       Eco                      2
3    Male  [10, 20)            NL       Eco                      5
4    Male  [10, 20)             L  Business                      3

   Departure_Arrival_time_convenient  Ease_of_Online_booking  Gate_location  \
0                                  3                       1              3
1                                  4                       2              4
2                                  2                       1              4
3                                  3                       5              3
4                                  3                       3              3

   Food_and_drink  Online_boarding  Seat_comfort  Inflight_entertainment  \
0               1                1             1                       1
1               1                2             1                       1
2               4                1             4                       4
3               1                5             1                       1
4               3                3             3                       3

   On_board_service  Leg_room_service  Baggage_handling  Checkin_service  \
0                 2                 1                 2                4
1                 3                 3                 4                4
2                 4                 4                 3                2
3                 2                 4                 3                1
4                 4                 2                 4                1

   Inflight_service  Cleanliness  Departure_Delay_in_Minutes  \
0                 2            1                           0
1                 4            1                           0
2                 3            4                           3
3                 1            1                           0
4                 4            3                           0

   Arrival_Delay_in_Minutes
0                         0
1                         0
2                         0
3                         0
4                         0
   Gender      Ages Customer_Type Class  Inflight_wifi_service  \
0    Male  [10, 20)             L   Eco                      4
1  Female  [10, 20)             L   Eco                      4
2  Female  [10, 20)             L   Eco                      0
3  Female  [10, 20)             L   Eco                      4
4    Male  [10, 20)             L   Eco                      1

   Departure_Arrival_time_convenient  Ease_of_Online_booking  Gate_location  \
0                                  2                       4              4
1                                  1                       5              5
2                                  3                       0              3
3                                  1                       4              4
4                                  5                       0              3

   Food_and_drink  Online_boarding  Seat_comfort  Inflight_entertainment  \
0               2                4             2                       2
1               4                4             3                       4
2               0                3             3                       4
3               2                4             2                       2
4               2                0             5                       2

   On_board_service  Leg_room_service  Baggage_handling  Checkin_service  \
0                 1                 2                 3                1
1                 5                 5                 3                4
2                 3                 4                 4                3
3                 2                 5                 4                1
4                 2                 4                 4                2

   Inflight_service  Cleanliness  Departure_Delay_in_Minutes  \
0                 4            2                          20
1                 1            4                           0
2                 2            3                         151
3                 3            2                           0
4                 3            2                           0

   Arrival_Delay_in_Minutes
0                        11
1                         0
2                       214
3                         0
4                         0
0     No
1     No
2     No
3    Yes
4     No
Name: Satisfaction, dtype: object

In [17]:
# 데이터셋 일부 확인
print(X_test.head())

   Gender      Ages Customer_Type Class  Inflight_wifi_service  \
0    Male  [10, 20)             L   Eco                      4
1  Female  [10, 20)             L   Eco                      4
2  Female  [10, 20)             L   Eco                      0
3  Female  [10, 20)             L   Eco                      4
4    Male  [10, 20)             L   Eco                      1

   Departure_Arrival_time_convenient  Ease_of_Online_booking  Gate_location  \
0                                  2                       4              4
1                                  1                       5              5
2                                  3                       0              3
3                                  1                       4              4
4                                  5                       0              3

   Food_and_drink  Online_boarding  Seat_comfort  Inflight_entertainment  \
0               2                4             2                       2
1               4                4             3                       4
2               0                3             3                       4
3               2                4             2                       2
4               2                0             5                       2

   On_board_service  Leg_room_service  Baggage_handling  Checkin_service  \
0                 1                 2                 3                1
1                 5                 5                 3                4
2                 3                 4                 4                3
3                 2                 5                 4                1
4                 2                 4                 4                2

   Inflight_service  Cleanliness  Departure_Delay_in_Minutes  \
0                 4            2                          20
1                 1            4                           0
2                 2            3                         151
3                 3            2                           0
4                 3            2                           0

   Arrival_Delay_in_Minutes
0                        11
1                         0
2                       214
3                         0
4                         0

In [18]:
# 데이터셋 일부 확인
print(y_train.head())

0     No
1     No
2     No
3    Yes
4     No
Name: Satisfaction, dtype: object

In [21]:
# 데이터셋 요약 정보 확인
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6434 entries, 0 to 6433
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             6434 non-null   object
 1   Ages                               6434 non-null   object
 2   Customer_Type                      6434 non-null   object
 3   Class                              6434 non-null   object
 4   Inflight_wifi_service              6434 non-null   int64
 5   Departure_Arrival_time_convenient  6434 non-null   int64
 6   Ease_of_Online_booking             6434 non-null   int64
 7   Gate_location                      6434 non-null   int64
 8   Food_and_drink                     6434 non-null   int64
 9   Online_boarding                    6434 non-null   int64
 10  Seat_comfort                       6434 non-null   int64
 11  Inflight_entertainment             6434 non-null   int64
 12  On_board_service                   6434 non-null   int64
 13  Leg_room_service                   6434 non-null   int64
 14  Baggage_handling                   6434 non-null   int64
 15  Checkin_service                    6434 non-null   int64
 16  Inflight_service                   6434 non-null   int64
 17  Cleanliness                        6434 non-null   int64
 18  Departure_Delay_in_Minutes         6434 non-null   int64
 19  Arrival_Delay_in_Minutes           6434 non-null   int64
dtypes: int64(16), object(4)
memory usage: 1005.4+ KB
None

In [22]:
# 데이터셋 요약 정보 확인
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1612 entries, 0 to 1611
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             1612 non-null   object
 1   Ages                               1612 non-null   object
 2   Customer_Type                      1612 non-null   object
 3   Class                              1612 non-null   object
 4   Inflight_wifi_service              1612 non-null   int64
 5   Departure_Arrival_time_convenient  1612 non-null   int64
 6   Ease_of_Online_booking             1612 non-null   int64
 7   Gate_location                      1612 non-null   int64
 8   Food_and_drink                     1612 non-null   int64
 9   Online_boarding                    1612 non-null   int64
 10  Seat_comfort                       1612 non-null   int64
 11  Inflight_entertainment             1612 non-null   int64
 12  On_board_service                   1612 non-null   int64
 13  Leg_room_service                   1612 non-null   int64
 14  Baggage_handling                   1612 non-null   int64
 15  Checkin_service                    1612 non-null   int64
 16  Inflight_service                   1612 non-null   int64
 17  Cleanliness                        1612 non-null   int64
 18  Departure_Delay_in_Minutes         1612 non-null   int64
 19  Arrival_Delay_in_Minutes           1612 non-null   int64
dtypes: int64(16), object(4)
memory usage: 252.0+ KB
None

In [23]:
# 데이터셋 요약 정보 확인
print(y_train.info())

<class 'pandas.core.series.Series'>
RangeIndex: 6434 entries, 0 to 6433
Series name: Satisfaction
Non-Null Count  Dtype
--------------  -----
6434 non-null   object
dtypes: object(1)
memory usage: 50.4+ KB
None

In [24]:
# 기초통계량 확인
print(X_train.describe())

       Inflight_wifi_service  Departure_Arrival_time_convenient  \
count            6434.000000                        6434.000000
mean                2.737333                           3.037613
std                 1.362034                           1.547572
min                 0.000000                           0.000000
25%                 2.000000                           2.000000
50%                 3.000000                           3.000000
75%                 4.000000                           4.000000
max                 5.000000                           5.000000

       Ease_of_Online_booking  Gate_location  Food_and_drink  Online_boarding  \
count             6434.000000    6434.000000     6434.000000      6434.000000
mean                 2.799036       3.016164        3.194591         3.282872
std                  1.433383       1.292237        1.334611         1.359697
min                  0.000000       1.000000        0.000000         0.000000
25%                  2.000000       2.000000        2.000000         2.000000
50%                  3.000000       3.000000        3.000000         4.000000
75%                  4.000000       4.000000        4.000000         4.000000
max                  5.000000       5.000000        5.000000         5.000000

       Seat_comfort  Inflight_entertainment  On_board_service  \
count   6434.000000             6434.000000       6434.000000
mean       3.461921                3.379235          3.420423
std        1.320489                1.334279          1.280846
min        1.000000                0.000000          0.000000
25%        2.000000                2.000000          3.000000
50%        4.000000                4.000000          4.000000
75%        5.000000                4.000000          4.000000
max        5.000000                5.000000          5.000000

       Leg_room_service  Baggage_handling  Checkin_service  Inflight_service  \
count       6434.000000       6434.000000      6434.000000       6434.000000
mean           3.383743          3.682313         3.345197          3.671433
std            1.310823          1.159491         1.267827          1.159274
min            0.000000          1.000000         1.000000          0.000000
25%            2.000000          3.000000         3.000000          3.000000
50%            4.000000          4.000000         3.000000          4.000000
75%            4.000000          5.000000         4.000000          5.000000
max            5.000000          5.000000         5.000000          5.000000

       Cleanliness  Departure_Delay_in_Minutes  Arrival_Delay_in_Minutes
count  6434.000000                 6434.000000               6434.000000
mean      3.284426                   15.092633                 15.686820
std       1.313427                   44.029329                 44.297168
min       0.000000                    0.000000                  0.000000
25%       2.000000                    0.000000                  0.000000
50%       3.000000                    0.000000                  0.000000
75%       4.000000                   12.000000                 13.000000
max       5.000000                 1592.000000               1584.000000

In [25]:
# 기초통계량 확인
print(X_test.describe())

       Inflight_wifi_service  Departure_Arrival_time_convenient  \
count            1612.000000                        1612.000000
mean                2.741935                           2.981390
std                 1.318033                           1.526395
min                 0.000000                           0.000000
25%                 2.000000                           2.000000
50%                 3.000000                           3.000000
75%                 4.000000                           4.000000
max                 5.000000                           5.000000

       Ease_of_Online_booking  Gate_location  Food_and_drink  Online_boarding  \
count             1612.000000    1612.000000     1612.000000       1612.00000
mean                 2.732010       2.934243        3.199752          3.23263
std                  1.386784       1.290040        1.319218          1.34302
min                  0.000000       1.000000        0.000000          0.00000
25%                  2.000000       2.000000        2.000000          2.00000
50%                  3.000000       3.000000        3.000000          3.00000
75%                  4.000000       4.000000        4.000000          4.00000
max                  5.000000       5.000000        5.000000          5.00000

       Seat_comfort  Inflight_entertainment  On_board_service  \
count   1612.000000             1612.000000       1612.000000
mean       3.445409                3.403846          3.375931
std        1.319339                1.317432          1.306097
min        1.000000                0.000000          1.000000
25%        3.000000                2.000000          2.000000
50%        4.000000                4.000000          4.000000
75%        5.000000                4.000000          4.000000
max        5.000000                5.000000          5.000000

       Leg_room_service  Baggage_handling  Checkin_service  Inflight_service  \
count       1612.000000       1612.000000      1612.000000       1612.000000
mean           3.414392          3.682382         3.276055          3.699752
std            1.306809          1.153996         1.285974          1.150575
min            0.000000          1.000000         1.000000          1.000000
25%            2.000000          3.000000         2.000000          3.000000
50%            4.000000          4.000000         3.000000          4.000000
75%            4.000000          5.000000         4.000000          5.000000
max            5.000000          5.000000         5.000000          5.000000

       Cleanliness  Departure_Delay_in_Minutes  Arrival_Delay_in_Minutes
count  1612.000000                 1612.000000               1612.000000
mean      3.310794                   15.045285                 15.887717
std       1.322886                   35.557908                 37.669515
min       0.000000                    0.000000                  0.000000
25%       2.000000                    0.000000                  0.000000
50%       3.000000                    0.000000                  0.000000
75%       4.000000                   14.000000                 15.000000
max       5.000000                  426.000000                427.000000

In [26]:
# 기초통계량 확인
print(y_train.describe())

count     6434
unique       2
top         No
freq      3437
Name: Satisfaction, dtype: object

In [29]:
# 데이터셋 전처리
# 결측치 처리
# 결측치 확인
X_train.isna().sum()

Gender                               0
Ages                                 0
Customer_Type                        0
Class                                0
Inflight_wifi_service                0
Departure_Arrival_time_convenient    0
Ease_of_Online_booking               0
Gate_location                        0
Food_and_drink                       0
Online_boarding                      0
Seat_comfort                         0
Inflight_entertainment               0
On_board_service                     0
Leg_room_service                     0
Baggage_handling                     0
Checkin_service                      0
Inflight_service                     0
Cleanliness                          0
Departure_Delay_in_Minutes           0
Arrival_Delay_in_Minutes             0
dtype: int64

In [30]:
# 결측치 확인
X_test.isna().sum()

Gender                               0
Ages                                 0
Customer_Type                        0
Class                                0
Inflight_wifi_service                0
Departure_Arrival_time_convenient    0
Ease_of_Online_booking               0
Gate_location                        0
Food_and_drink                       0
Online_boarding                      0
Seat_comfort                         0
Inflight_entertainment               0
On_board_service                     0
Leg_room_service                     0
Baggage_handling                     0
Checkin_service                      0
Inflight_service                     0
Cleanliness                          0
Departure_Delay_in_Minutes           0
Arrival_Delay_in_Minutes             0
dtype: int64

In [77]:
# 데이터 분할
from sklearn.model_selection import train_test_split
X_TRAIN, X_VAL, y_TRAIN, y_VAL = train_test_split(X_train, y_train, random_state = 1234, test_size = 0.3, stratify = y_train)

In [78]:
# 분할 후 shape 확인
print(X_TRAIN.shape)
print(X_VAL.shape)
print(y_TRAIN.shape)
print(y_VAL.shape)

(4503, 20)
(1931, 20)
(4503,)
(1931,)

In [79]:
# 인코딩
# 카테고리형 컬럼에 대하여 라벨 인코딩 수행
from sklearn.preprocessing import OneHotEncoder

# 인코딩할 카테고리형 컬럼만 별도 저장
X_TRAIN_category = X_TRAIN.select_dtypes('object').copy()
X_VAL_category = X_VAL.select_dtypes('object').copy()
X_test_category = X_test.select_dtypes('object').copy()

In [80]:
# 원-핫 인코딩
enc = OneHotEncoder(sparse_output = False).fit(X_TRAIN_category)
X_TRAIN_OH = enc.transform(X_TRAIN_category)
X_VAL_OH = enc.transform(X_VAL_category)
X_test_OH = enc.transform(X_test_category)

In [81]:
# 스케일링
# 별도 스케일링은 하지 않고 수치형 컬럼만 별도 저장
X_TRAIN_conti = X_TRAIN.select_dtypes(exclude = 'object').copy()
X_VAL_conti = X_VAL.select_dtypes(exclude = 'object').copy()
X_test_conti = X_test.select_dtypes(exclude = 'object').copy()

In [82]:
# 입력 데이터셋 준비
import numpy as np

# 인코딩과 스케일링된 넘파이 배열 연결
X_TRAIN = np.concatenate([X_TRAIN_OH, X_TRAIN_conti], axis = 1)
X_VAL = np.concatenate([X_VAL_OH, X_VAL_conti], axis = 1)

In [85]:
# 'Yes'와 'No'를 각각 1,0에 매핑
y_TRAIN = y_TRAIN.map({'No':0, 'Yes':1})
y_VAL = y_VAL.map({'No':0, 'Yes':1})

In [88]:
# 1차원 넘파이 배열로 평탄화
y_TRAIN = y_TRAIN.values.ravel()
y_VAL = y_VAL.values.ravel()

In [95]:
# 모델 학습
from sklearn.ensemble import RandomForestClassifier

# Random Forest
rf = RandomForestClassifier(n_estimators = 500,
                            max_depth = 3,
                            min_samples_leaf = 10,
                            max_features = 'sqrt',
                            random_state = 2022)

model_rf = rf.fit(X_TRAIN, y_TRAIN)

In [104]:
# 성능평가(기준:F1-Score)를 통한 모델 선정
from sklearn.metrics import f1_score

In [106]:
# 검증용 데이터셋을 통한 예측
pred_rf = model_rf.predict(X_VAL)

제 3유형

In [108]:
import pandas as pd
cancer = pd.read_csv('./data/cancer.csv', encoding = 'cp949')
cancer.head()

         x
0  3_Grade
1  2_Grade
2  2_Grade
3  1_Grade
4  3_Grade

In [131]:
# 적합도 검정 수행
from scipy.stats import chisquare
n = cancer.shape[0]
x = cancer.value_counts().to_numpy()
x = np.append(x, [81])
e_x = np.array([0.05, 0.05, 0.1, 0.8]) * n
chi, pval = chisquare(x, e_x)

In [133]:
# 항암약의 '부작용 없음'에 해당하는 관찰도수
print(x[3])

81

In [135]:
# 검정통계량과 p-value
print(chi)
print(pval)

11766.270625000001
0.0

01. 제공된 데이터(StudentsPerformance.csv)는 학생들의 시험 성적 데이터과 관련된 데이터의 일부이다. 여러 독립 변수들을 통해 성별(Gender)을 예측하는 로지스틱 회귀분석을 하고자 한다.

In [160]:
# 필요한 패키지, 클래스 호출
import pandas as pd
import statsmodels.api as sm
import numpy as np

StudentsPerformance = pd.read_csv('./data/StudentsPerformance.csv')
StudentsPerformance.head()

   gender     race  math score  reading score  writing score
0  female  group B          72             72             74
1  female  group C          69             90             88
2  female  group B          90             95             93
3    male  group A          47             57             44
4    male  group C          76             78             75

In [164]:
# male -> 1, female -> 0로 인코딩
StudentsPerformance['gender'] = StudentsPerformance['gender'].map({'male' : 1, 'female' : 0})

In [168]:
# race 컬럼(범주형) 더미변수로 변환
StudentsPerformance = pd.get_dummies(StudentsPerformance, columns = ['race'], drop_first = True)

In [172]:
# 데이터를 학습용과 평가용으로 나누기
train = StudentsPerformance.iloc[0:800] # 1부터 800번까지
test = StudentsPerformance.iloc[800:1000] # 801부터 1,000번까지

In [175]:
# 학습용 데이터로 독립변수와 종속변수 지정
y_train = train['gender'] # 종속변수
X_train = train.drop('gender', axis = 1) # 독립변수

In [183]:
X_train

,math score,reading score,writing score,race_group B,race_group C,race_group D,race_group E
0,72,72,74,True,False,False,False
1,69,90,88,False,True,False,False
2,90,95,93,True,False,False,False
3,47,57,44,False,False,False,False
4,76,78,75,False,True,False,False
...,...,...,...,...,...,...,...
795,57,68,73,False,False,False,True
796,70,70,70,False,False,True,False
797,70,84,81,False,False,False,True
798,69,60,54,False,False,False,True
799,52,55,57,False,True,False,False

In [181]:
sm.GLM(y_train, X_train)

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).

In [180]:
# 로지스틱 회귀분석
# GLM 객체 생성 후 적합
sm.GLM(y_train, X_train, family = sm.families.Binomial()).fit()

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).

02. 제공된 데이터(mtcars.csv)는 자동차 32종의 정보를 담고 있는 데이터로 알려져있다. 배기량, 마력, 기어, 무게를 입력하면 연비를 예측하는 다중 선형 회귀 분석을 하고자 한다.

In [126]:
import pandas as pd
mtcars = pd.read_csv('./data/mtcars.csv', encoding = 'cp949')
mtcars.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [129]:
# (1)독립변수들 중 종속변수와 가장 높은 선형성을 가지는 변수의 상관계수
df = mtcars[['mpg', 'disp', 'hp', 'drat', 'wt']]

# 종속변수와 각 변수들 간의 상관계수 계산한 후 가장 큰 상관계수를 구하면 됨
corr = df.corr()['mpg'].abs().sort_values(ascending = False)[1]
result1 = round(corr, 3)
print(result1)

In [149]:
# (2)적합된 회귀모형의 결정계수
import statsmodels.api as sm

# 독립변수와 종속변수 분리
X = df[['disp', 'hp', 'drat', 'wt']]
y = df[['mpg']]

In [152]:
# 상수항 추가
X = sm.add_constant(X)

In [155]:
# 다중선형회귀모형
# OLS 객체 생성 후 적합
model = sm.OLS(y, X).fit()
print(model.summary()) # 결과

                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.838
Model:                            OLS   Adj. R-squared:                  0.814
Method:                 Least Squares   F-statistic:                     34.82
Date:                Mon, 03 Jun 2024   Prob (F-statistic):           2.70e-10
Time:                        23:34:46   Log-Likelihood:                -73.292
No. Observations:                  32   AIC:                             156.6
Df Residuals:                      27   BIC:                             163.9
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         29.1487      6.294      4.631      0.000      16.235      42.062
disp           0.0038      0.011      0.353      0.727      -0.018       0.026
hp            -0.0348      0.012     -2.999      0.006      -0.059      -0.011
drat           1.7680      1.320      1.340      0.192      -0.940       4.476
wt            -3.4797      1.078     -3.227      0.003      -5.692      -1.267
==============================================================================
Omnibus:                        5.267   Durbin-Watson:                   1.736
Prob(Omnibus):                  0.072   Jarque-Bera (JB):                4.327
Skew:                           0.899   Prob(JB):                        0.115
Kurtosis:                       3.102   Cond. No.                     4.26e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.26e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [156]:
# 회귀모형의 결정계수 출력
# 위의 결과에서 R-squared값을 입력
print(0.838)

0.838

In [157]:
# 독립 변수들 중 가장 유의하지 않은 독립변수의 회귀계수 추정값
# 위의 결과에서 P>|t|값이 가장 큰 변수명을 찾으면 됨
# disp가 가장 p-value가 크므로 disp의 회귀계수 추정값 계산
# 위의 결과애서 disp의 coef값을 입력해도 됨
print(0.004)

0.004